:global {
  .staffFilter {
    padding: 0 7% 0 7%;
    &__field {
      display: inline-block;
      margin-right: 2%;
      width: 98%;
      &--temperature {
        .customSelect.select .control .icon {
          background-image: url('../StaffFilter/assets/icon--temperature.png');
        }
      }
      &--type {
        .customSelect.select .control .icon {
          background-image: url('../StaffFilter/assets/icon--base.png');
        }
      }
    }
    .customSelect {
      display: inline-block;
      width: 100%;
    }
  }
  @media(min-width: 768px) {
    .staffFilter {
      padding: 0 7% 0 7%;
      &__field {
        display: inline-block;
        margin-right: 2%;
        width: 16%;
        &--temperature {
          .customSelect.select .control .icon {
            background-image: url('../StaffFilter/assets/icon--temperature.png');
          }
        }
        &--type {
          .customSelect.select .control .icon {
            background-image: url('../StaffFilter/assets/icon--base.png');
          }
        }
      }
      .customSelect {
        display: inline-block;
        width: 100%;
      }
    }
  }
}
