/*Roboto*/
@font-face {
    font-family: 'Roboto Slab';
    src: url('/assets/fonts/robotoslab100.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('/assets/fonts/robotoslab300.woff2') format('woff2'), url('/assets/fonts/robotoslab300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('/assets/fonts/robotoslab400.woff2') format('woff2'), url('/assets/fonts/robotoslab400.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url('/assets/fonts/robotoslab700.woff2') format('woff2'), url('/assets/fonts/robotoslab700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*Open Sans*/
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/opensans-300-normal.woff2') format('woff2'), url('assets/fonts/opensans-300-normal.woff') format('woff'), url('/assets/fonts/opensans-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/opensans-300-italic.woff2') format('woff2'), url('/assets/fonts/opensans-300-italic.woff') format('woff'), url('/assets/fonts/opensans-300-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/assets/fonts/opensans-600-italic.woff2') format('woff2'), url('/assets/fonts/opensans-600-italic.woff') format('woff'), url('/assets/fonts/opensans-600-italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
