/*Roboto*/
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-100-normal.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-100-normal.woff') format('woff'), url('/assets/fonts/rouble/roboto-100-normal.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-300-normal.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-300-normal.woff') format('woff'), url('/assets/fonts/rouble/roboto-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-400-normal.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-400-normal.woff') format('woff'), url('/assets/fonts/rouble/roboto-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-500-normal.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-500-normal.woff') format('woff'), url('/assets/fonts/rouble/roboto-500-normal.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-700-normal.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-700-normal.woff') format('woff'), url('/assets/fonts/rouble/roboto-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-900-normal.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-900-normal.woff') format('woff'), url('/assets/fonts/rouble/roboto-900-normal.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
/*italic*/
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-100-italic.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-100-italic.woff') format('woff'), url('/assets/fonts/rouble/roboto-100-italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-300-italic.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-300-italic.woff') format('woff'), url('/assets/fonts/rouble/roboto-300-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-400-italic.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-400-italic.woff') format('woff'), url('/assets/fonts/rouble/roboto-400-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-500-italic.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-500-italic.woff') format('woff'), url('/assets/fonts/rouble/roboto-500-italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-700-italic.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-700-italic.woff') format('woff'), url('/assets/fonts/rouble/roboto-700-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Rouble';
    src: url('/assets/fonts/rouble/roboto-900-italic.woff2') format('woff2'), url('/assets/fonts/rouble/roboto-900-italic.woff') format('woff'), url('/assets/fonts/rouble/roboto-900-italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

