@import "fonts.css";
@import "rouble-font.css";

* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-size: 2.6vw;
  font-family: "Open Sans";
}
textarea:focus, input:focus{
  outline: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color: #210800;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #210800;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #210800;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #210800;
}
//общий для все страниц головной блок  сменю и прочим
.common-head-block {
  width: 100%;
  position: relative;
  &:before {
    content: '';
    display: block;
    position: relative;
    padding-top: 92%;
  }
  .logo {
    position: absolute;
    left: 10%;
    top: 8%;
    width: 36%;
    padding-top: 25%;
    background: url(/assets/images/logo.png) no-repeat center top;
    background-size: contain;
  }
  .contacts {
    position: absolute;
    left: 28%;
    top: 0;
    margin-top: 5%;
    color: white;
    width: 20%;
    padding-left: 4%;
    line-height: 1.4;
    background: url('/assets/images/phone.png') no-repeat left center;
    background-size: 10%;
    display: none;
    &__text {
      font-size: 1.2em;
    }
    &__phone {
      font-size: 2em;
    }
  }
  .social-links {
    position: absolute;
    right: 8%;
    top: 10%;
    width: auto;
    white-space: nowrap;
    &__link {
      display: inline-block;
      width: 2.65em;
      height: 2.65em;
      background-size: contain;
      background-repeat: no-repeat;
      &--twitter {
        background-image: url(/assets/images/social--tw.png);
      }
      &--fasebook {
        background-image: url(/assets/images/social--fb.png);
      }
      &--instagramm {
        background-image: url(/assets/images/social--inst.png);
      }

    }
  }
  .account {
    position: absolute;
    right: 7%;
    top: 22%;
    width: 10%;
    padding-top: 10%;
    &__trigger {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url(/assets/images/account.png) no-repeat center top;
      background-size: contain;
    }
    &__enter {
      display: none;
    }
    &__divider {
      display: none;
    }
    &__register {
      display: none;
    }
  }
  .navigate {
    position: absolute;
    left: 0;
    top: 44%;
    width: 100%;
    padding-top: 15%;
    overflow: visible;
    z-index: 2;
    background: rgb(247, 148, 29); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(247, 148, 29, 1) 0%, rgba(239, 118, 20, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247, 148, 29, 1) 0%, rgba(239, 118, 20, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247, 148, 29, 1) 0%, rgba(239, 118, 20, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7941d', endColorstr='#ef7614', GradientType=0); /* IE6-9 */
    #search_fields {
      position: absolute;
      width: 100%;
      height: auto;
      left: 0%;
      top: auto;
      background-color: #e16400;
      -webkit-transition: left 0.5s ease-out;
      -moz-transition: left 0.5s ease-out;
      -o-transition: left 0.5s ease-out;
      transition: left 0.5s ease-out;
      white-space: nowrap;
      padding: 3%;
      &.closed {
        left: 100%;
      }
      input {
        display: inline-block;
        width: 80%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        font-size: 1.6em;
        line-height: 2.2;
      }
      a {
        display: inline-block;
        width: 20%;
        color: white;
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 1.6em;
        text-align: center;
      }

    }
    &__menu {
      position: static;
      left: 0;
      top: 0;
      &__hamburger {
        position: absolute;
        left: 0;
        top: 0;
        width: 25%;
        height: 100%;
        background-image: url(/assets/images/hamburger_close.png);
        background-size: contain;
        background-repeat: no-repeat;
        &.closed {
          background-image: url(/assets/images/hamburger.png);
        }
      }
      &__links {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0%;
        top: auto;
        -webkit-transition: left 0.5s ease-out;
        -moz-transition: left 0.5s ease-out;
        -o-transition: left 0.5s ease-out;
        transition: left 0.5s ease-out;
        &.closed {
          left: 100%;
        }
        a {
          font-family: "Roboto Slab";
          display: block;
          font-size: 2.4em;
          font-weight: 600;
          color: white;
          line-height: 2;
          padding-left: 8%;
          margin: 0;
          text-align: left;
          text-decoration: none;
          text-transform: uppercase;
          background: #e16400; /* Old browsers */

        }

      }
    }
    &__search {
      position: absolute;
      right: 18%;
      top: 0;
      a {
        background-image: url(/assets/images/lupa.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        width: 5.5em;
        height: 5.5em;
        vertical-align: middle;
      }
    }
    &__basket {
      position: absolute;
      right: 3%;
      top: 0;
      div {
        display: none;
        vertical-align: middle;
        color: #731900;
        font-size: 2em;
        padding-top: 5px;
        font-weight: 600;
      }
      a {
        display: inline-block;
        width: 5.5em;
        height: 5.5em;
        vertical-align: middle;
        background-image: url(/assets/images/basket.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
  .order {
    font-family: "Open Sans";
    position: absolute;
    width: 100%;
    left: -10%;
    top: 54%;
    background-image: url(/assets/images/order-shawl.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 52%;
    z-index: 1;
    a {
      position: absolute;
      left: 27%;
      top: 26%;
      width: 64%;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      font-size: 2em;
      line-height: 2.8;
      font-weight: 600;
      border-radius: 5em;
      letter-spacing: 0.1em;
      /*тень*/
      box-shadow: 9px 8px 40px 2px rgba(0, 191, 243, 0.5);
      /* градиент */
      background: rgb(0, 173, 239); /* Old browsers */
      background: -moz-linear-gradient(top, rgba(0, 173, 239, 1) 0%, rgba(0, 115, 189, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 173, 239, 1) 0%, rgba(0, 115, 189, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 173, 239, 1) 0%, rgba(0, 115, 189, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adef', endColorstr='#0073bd', GradientType=0); /* IE6-9 */

    }
  }
}

//экраны главной страницы
.screen {
  position: relative;
  overflow: hidden;
  &--first {
    background: url('/assets/images/bgr--main--mobile.jpg') no-repeat center top;
    background-size: cover;
    &__wrapper {
      width: 100%;
      max-width: 1200px;
      position: relative;
      padding-top: 214%;
      margin: auto;
      .common-head-block {
        position: absolute;
        left: 0;
        top: 0;
      }
      .greeting-text {
        font-family: "Open Sans";
        position: absolute;
        width: 80%;
        left: 10%;
        top: 52%;
        color: white;
        line-height: normal;
        &__first {
          font-weight: 300;
          font-style: italic;
          font-size: 3.5em;
          margin-bottom: 15%;
          line-height: 1.2;
          span {
            font-weight: 600;
            font-size: 3em;
            line-height: 0.6;
            display: block;
          }
        }
        &__second {
          font-style: normal;
          font-size: 1.7em;
          margin-bottom: 8%;
          div {
            display: inline-block;
          }
          span {
            color: #f6901c;
            font-size: 2em;
            font-style: italic;
          }
        }
        &__third {
          font-size: 1.5em;
          font-style: italic;
        }
      }
    }
  }
  &--menu {
    background: url('/assets/images/bgr--menu--mobile.jpg') #e1e1e1 no-repeat center bottom;
    background-size: contain;
    &__wrapper {
      width: 100%;
      max-width: 1200px;
      position: relative;
      padding: 10% 10% 100% 10%;
      margin: auto;
      h2 {
        font-family: "Roboto Slab";
        color: #f6901c;
        font-size: 3.6em;
        text-transform: uppercase;
        margin: 0 0 12% 0;
      }
      .text {
        font-family: "Open Sans";
        font-size: 2em;
        font-weight: 600;
      }
    }
  }
  &--advantages {
    background: url('/assets/images/bgr--advantages--mobile.jpg') no-repeat center bottom;
    background-size: cover;
    &__wrapper {
      width: 100%;
      max-width: 1200px;
      position: relative;
      padding: 13% 8% 10% 8%;
      margin: auto;
      h2 {
        font-family: "Roboto Slab";
        color: black;
        font-size: 3.6em;
        text-transform: uppercase;
        margin: 0 0 9% 0;
      }
      .items {
        &__item {
          display: inline-block;
          width: 49%;
          padding: 0 5% 0 5%;
          vertical-align: top;
          margin-bottom: 11%;
          &__image {
            display: block;
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 6%;
            &--all-is-simple {
              background-image: url('/assets/images/icon--al-is-simple.png');
            }
            &--no-shop {
              background-image: url('/assets/images/icon--no-shop.png');
            }
            &--economy {
              background-image: url('/assets/images/icon--economy.png');
            }
            &--quality {
              background-image: url('/assets/images/icon--quality.png');
            }
            &--family {
              background-image: url('/assets/images/icon--family.png');
            }
            &--divercity {
              background-image: url('/assets/images/icon--divercity.png');
            }
          }
          &__title {
            text-align: center;
            font-family: "Roboto Slab";
            font-size: 2em;
            color: black;
            line-height: 1;
            font-weight: 600;
            margin-bottom: 4%;
          }
          &__description {
            text-align: center;
            font-family: "Open Sans";
            font-size: 1.3em;
            color: black;
            font-weight: 600;
          }
        }
      }
    }
  }
  &--comparison {
    background: url('/assets/images/bgr--comparison--mobile.jpg') no-repeat center bottom;
    background-size: cover;
    &__wrapper {
      width: 100%;
      max-width: 1200px;
      position: relative;
      padding: 12% 8% 10% 8%;
      margin: auto;
      h2 {
        font-family: "Roboto Slab";
        color: black;
        font-size: 3.6em;
        line-height: 1.25;
        text-transform: uppercase;
        margin: 0 0 9% 0;
        text-align: center;
      }
      .items {
        &__item {
          display: block;
          position: relative;
          .title {
            font-family: "Roboto Slab";
            color: black;
            font-size: 2.8em;
            text-align: center;
            font-weight: 600;
            line-height: 2.9;
          }
          .good-bad {
            width: 100%;
            white-space: nowrap;
            background: url('/assets/images/bgr--comparison__item.png') no-repeat center center;
            background-size: initial;
            &__good, &__bad {
              display: none;
              white-space: normal;
              vertical-align: middle;
              width: 36%;
              margin: 0% 7% 0 7%;
              font-family: "Open Sans";
              font-size: 1.4em;
              font-weight: 600;
              color: black;
            }
          }
          &:after {
            content: '';
            height: 3px;
            position: absolute;
            width: 66%;
            left: 17%;
            background-color: #e1e1e1;
          }
          &:first-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  &--about {
    background: url('/assets/images/bgr--about--mobile.jpg') no-repeat center bottom;
    background-size: cover;
    &__wrapper {
      width: 100%;
      max-width: 1200px;
      position: relative;
      padding: 12% 14% 10% 14%;
      margin: auto;
      h2 {
        font-family: "Roboto Slab";
        color: black;
        font-size: 3.6em;
        line-height: 1.25;
        text-transform: uppercase;
        margin: 0 0 20% 0;
        text-align: center;
        color: #f6901c;
      }
      .picture-block {
        display: none;
      }
      .text {
        font-family: "Open Sans";
        font-size: 2em;
        color: white;
        font-style: italic;
        margin-bottom: 20%;
        position: relative;
        overflow: visible;
        &--qoute {
          &:before {
            content: '';
            position: absolute;
            right: 100%;
            bottom: 100%;
            background-image: url('/assets/images/quote--left.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 18px;
          }
          &:after {
            content: '';
            position: absolute;
            left: 100%;
            bottom: 0;
            background-image: url('/assets/images/quote--right.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 18px;
          }
        }
        &--selected {
          color: #f6901c;
          font-style: normal;
          text-align: center;
          margin-bottom: 0;
        }
      }

    }
  }
  &--contacts {
    &__wrapper {
      width: 100%;
      max-width: 1200px;
      position: relative;
      padding-top: 240%;
      margin: auto;
      .map {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 50%;
        background: url('/assets/images/map-example.png') no-repeat center bottom;
        background-size: cover;
      }
      .contacts {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 50%;
        background-color: #f6901c;
        padding: 12%;
        h2 {
          font-family: "Roboto Slab";
          color: white;
          font-size: 3.6em;
          line-height: 1.25;
          text-transform: uppercase;
          margin: 0 0 20% 0;
          text-align: center;
        }
        &__address {
          color: white;
          font-size: 2em;
          margin-bottom: 14%;
        }
        &__phone {
          color: white;
          padding-left: 16%;
          line-height: 1.4;
          background: url('/assets/images/phone--white.png') no-repeat left center;
          background-size: 10%;
          margin-bottom: 4%;
          &__text {
            font-size: 1.7em;
          }
          &__phone {
            font-size: 2.6em;
          }

        }
        &__social-links {
          position: relative;
          width: auto;
          white-space: nowrap;
          padding-left: 16%;
          &__link {
            display: inline-block;
            width: 3.65em;
            height: 3.65em;
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 0.6em;
            &--twitter {
              background-image: url(/assets/images/social--tw.png);
            }
            &--fasebook {
              background-image: url(/assets/images/social--fb.png);
            }
            &--instagramm {
              background-image: url(/assets/images/social--inst.png);
            }

          }
        }
      }
    }
  }
}
.header {
  width: 100%;
  background-image: url('/assets/images/bgr--header.jpg');
  background-size: cover;
  background-position: center top;
  &:before {
    content: '';
    display: block;
    position: relative;
    padding-top: 55%;
  }
  .common-head-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
}
.body {
  background-color: white;
  &--bgr {
    background-image: url('/assets/images/bgr--content.jpg');
    background-position: center top;
  }
  &__wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 50% 4% 4% 4%;
    margin: auto;
    .page {
      &__breadcrumb {
        font-size: 1em;
        a {
          text-decoration: none;
          color: black;
        }
      }
      &__title {
        font-family: "Roboto Slab";
        color: #f6901c;
        font-size: 3.6em;
        text-transform: uppercase;
        margin: 0 0 8% 0;
      }
      &__content {
        font-size: 1.6em;
        line-height: 1.4;
        font-family: "Open Sans";
        color: black;

        &--howitworks {
          > div {
            h3 {
              font-style: italic;
              color: black;
              font-size: 2em;
            }
            &:first-child {
              background-image: url('/assets/images/bgr--howitworks.png');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: right center;
              padding-right: 57%;
            }
          }
        }
        &__login-block {
          max-width: 320px;
          margin: auto;
          .input-block {
            margin-bottom: 10%;
            ::-webkit-input-placeholder { /* WebKit browsers */
              color: #898989;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color: #898989;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
              color: #898989;
            }
            :-ms-input-placeholder { /* Internet Explorer 10+ */
              color: #898989;
            }
            input[type="text"], input[type="password"] {
              background-color: white;
              border: 1px solid #fbaf5d;
              width: 100%;
              font-size: 1em;
              line-height: 2.3;
              border-radius: 2em;
              padding: 0 1em 0 1em;
            }
            &__submit {
              width: 72%;
              margin: auto;
              display: block;
              color: white;
              text-decoration: none;
              text-transform: uppercase;
              text-align: center;
              font-size: 1.1em;
              line-height: 3.3;
              font-weight: bold;
              border-radius: 5em;
              box-shadow: 9px 8px 40px 2px rgba(255, 174, 0, 0.5);
              background: #f7931d;
              background: -moz-linear-gradient(top, #f7931d 0%, #ef7714 100%);
              background: -webkit-linear-gradient(top, #f7931d 0%, #ef7714 100%);
              background: linear-gradient(to bottom, #f7931d 0%, #ef7714 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7931d', endColorstr='#0073bd', GradientType=0);
            }
          }
          /*.radio_buttons input[type=radio]:checked+label {
            background: #d74747;
          }*/
          .remember-block {
            white-space: nowrap;
            margin-bottom: 10%;
            &__remember-me {
              width: 50%;
              display: inline-block;
              font-size: 0.9em;
              label {
                width: 1.6em;
                height: 1.6em;
                display: inline-block;
                border: 1px solid #d5d5d5;
                border-radius: 0.8em;
                vertical-align: middle;
                margin-right: 0.6em;
              }
              input[type=checkbox]:checked+label {
                background: #d5d5d5;
              }
              input {
                display: none;
              }
            }
            &__forgot {
              width: 50%;
              display: inline-block;
              text-align: right;
              font-size: 0.9em;
              a {
                color: #0072bc;
                text-decoration: none;

              }
            }
          }
        }
        &--order {
          .plate-type {
            color: black;
            font-weight: bold;
            font-family: "Roboto Slab";
            font-size: 1.6em;
            text-align: center;
            margin: 0 0 4% 0;
          }
          .day-selector {
            text-align: center;
            overflow: hidden;
            margin-bottom: 4%;
            div:first-child {
              margin: 0 0 4% 0;
            }
            &__days {
              white-space: nowrap;
              text-align: center;
              width: 140%;
              margin-left: -20%;
              &:before, &:after  {
                content: '';
                display: inline-block;
                width: 20%;
                height: 2px;
                background-color: #f6f6f6;
                vertical-align: middle;
              }
              a {
                display: inline-block;
                font-size: 2em;
                font-family: "Open Sans";
                background-color: #cccccc;
                color: white;
                text-decoration: none;
                font-style: italic;
                border-radius: 50%;
                line-height: 1.4;
                width: 1.4em;;
                vertical-align: middle;
                &.active {
                  background-color: #f7941d;
                }
              }
            }
          }
          .plate-items {
            .item {
              width: 100%;
              margin-bottom: 12%;
              &__image {
                padding-top: 80%;
                position: relative;
                background-image: url('/assets/images/bgr--item.png');
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                margin-bottom: 4%;
                &__wrapper {
                  position: absolute;
                  left: 10%;
                  top: 0;
                  width: 80%;
                  height: 100%;
                  overflow: hidden;
                  border-radius: 50%;
                  img {
                    display: block;
                    height: 100%;
                    width: auto;
                  }
                }
              }
              &__title {
                font-family: "Open Sans";
                text-align: center;
                color: black;
                font-size: 1.4em;
                font-weight: bold;
                margin-bottom: 4%;
              }
              &__set {
                font-family: "Open Sans";
                text-align: center;
                color: black;
                font-size: 1.2em;
                &__title {
                  font-style: italic;
                }
              }
              &__price {
                color: #f7941d;
                font-size: 3em;
                font-family: "Open Sans";
                text-align: center;
                font-weight: bold;
                margin-bottom: 4%;
              }
              &__order {
                width: 72%;
                margin: auto;
                display: block;
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.1em;
                line-height: 3.3;
                font-weight: bold;
                border-radius: 5em;
                /*тень*/
                box-shadow: 9px 8px 40px 2px rgba(0, 191, 243, 0.5);
                /* градиент */
                background: rgb(0, 173, 239); /* Old browsers */
                background: -moz-linear-gradient(top, rgba(0, 173, 239, 1) 0%, rgba(0, 115, 189, 1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0, 173, 239, 1) 0%, rgba(0, 115, 189, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0, 173, 239, 1) 0%, rgba(0, 115, 189, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adef', endColorstr='#0073bd', GradientType=0); /* IE6-9 */
                &.active {
                  box-shadow: 9px 8px 40px 2px rgba(255, 174, 0, 0.5);
                  background: #f7931d;
                  background: -moz-linear-gradient(top, #f7931d 0%, #ef7714 100%);
                  background: -webkit-linear-gradient(top, #f7931d 0%, #ef7714 100%);
                  background: linear-gradient(to bottom, #f7931d 0%, #ef7714 100%);
                  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7931d', endColorstr='#0073bd', GradientType=0);
                }
              }
            }
          }
          .divider {
            width: 100%;
            background-image: url('/assets/images/bgr-divider.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            &:before {
              content: '';
              display: block;
              position: relative;
              padding-top: 20%;
            }
          }
          .plate-subtype-selector {
            text-align: center;
            margin-bottom: 8%;
            width: 140%;
            margin-left: -20%;
            &:before, &:after  {
              content: '';
              display: inline-block;
              width: 20%;
              height: 2px;
              background-color: #f6f6f6;
              vertical-align: middle;
            }
            &:before  {
              margin-right: 1em;
            }
            &:after  {
              margin-left: 1em;
            }
            a {
              display: inline-block;
              font-family: "Roboto Slab";
              font-size: 1.4em;
              background-color: #cccccc;
              line-height: 2;
              border-radius: 2em;
              font-weight: bold;
              padding: 0 1.6em 0 1.6em;
              color: white;
              text-decoration: none;
              vertical-align: middle;
              &.active {
                background-color: #f7941d;
              }
            }
          }
        }
        &--confirm {
          h3 {
            color: black;
            font-weight: bold;
            font-family: "Roboto Slab";
            font-size: 1.6em;
            text-align: center;
            margin: 0 0 4% 0;
          }
          .day-value {
            margin: 0 0 4% 0;
            span {
              color: #ef7614;
              font-style: italic;
              font-weight: bold;
              font-size: 1.4em;
            }
          }
          .order-items {
            margin: 0 0 4% 0;
            .item {
              display: block;
              white-space: nowrap;
              &__image {
                display: inline-block;
                width: 20%;
                padding-top: 20%;
                position: relative;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                vertical-align: middle;
                margin-right: 1%;
                &__wrapper {
                  position: absolute;
                  left: 0%;
                  top: 0;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  border-radius: 50%;
                  img {
                    display: block;
                    height: 100%;
                    width: auto;
                  }
                }
              }
              &__title {
                display: inline-block;
                width: 45%;
                font-family: "Open Sans";
                text-align: left;
                color: black;
                font-size: 1em;
                font-weight: normal;
                white-space: normal;
                vertical-align: middle;
              }
              &__price {
                display: inline-block;
                width: 20%;
                color: #f7941d;
                font-size: 1em;
                font-family: "Open Sans";
                text-align: center;
                font-weight: bold;
                vertical-align: middle;
              }
              &__remove {
                display: inline-block;
                width: 10%;
                padding-top: 10%;
                background-image: url('/assets/images/item__remove.png');
                background-size: 50%;
                background-repeat: no-repeat;
                background-position: center center;
                vertical-align: middle;
              }
            }
          }
          .contacts {
            margin: 0 0 4% 0;
            &__address {
              margin-bottom: 2%;
            }
            &__contacts {
              span {
                font-weight: bold;
              }
            }
            &__time {
              span {
                font-weight: bold;
              }
            }
          }
          .order {
            font-family: "Open Sans";
            width: 100%;
            a {
              width: 72%;
              margin: auto;
              display: block;
              color: white;
              text-decoration: none;
              text-transform: uppercase;
              text-align: center;
              font-size: 1.1em;
              line-height: 3.3;
              font-weight: bold;
              border-radius: 5em;
              /*тень*/
              box-shadow: 9px 8px 40px 2px rgba(0, 191, 243, 0.5);
              /* градиент */
              background: rgb(0, 173, 239); /* Old browsers */
              background: -moz-linear-gradient(top, rgba(0, 173, 239, 1) 0%, rgba(0, 115, 189, 1) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top, rgba(0, 173, 239, 1) 0%, rgba(0, 115, 189, 1) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom, rgba(0, 173, 239, 1) 0%, rgba(0, 115, 189, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adef', endColorstr='#0073bd', GradientType=0); /* IE6-9 */
              &.active {
                box-shadow: 9px 8px 40px 2px rgba(255, 174, 0, 0.5);
                background: #f7931d;
                background: -moz-linear-gradient(top, #f7931d 0%, #ef7714 100%);
                background: -webkit-linear-gradient(top, #f7931d 0%, #ef7714 100%);
                background: linear-gradient(to bottom, #f7931d 0%, #ef7714 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7931d', endColorstr='#0073bd', GradientType=0);
              }

            }
          }
        }
        &__register-block {
          max-width: 320px;
          margin: auto;
          .input-block {
            margin-bottom: 10%;
            ::-webkit-input-placeholder { /* WebKit browsers */
              color: #898989;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
              color: #898989;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
              color: #898989;
            }
            :-ms-input-placeholder { /* Internet Explorer 10+ */
              color: #898989;
            }
            input[type="text"], input[type="password"], input[type="phone"] {
              background-color: white;
              border: 1px solid #fbaf5d;
              width: 100%;
              font-size: 1em;
              line-height: 2.3;
              border-radius: 2em;
              padding: 0 1em 0 1em;
            }
            &__submit {
              width: 72%;
              margin: auto;
              display: block;
              color: white;
              text-decoration: none;
              text-transform: uppercase;
              text-align: center;
              font-size: 1.1em;
              line-height: 3.3;
              font-weight: bold;
              border-radius: 5em;
              box-shadow: 9px 8px 40px 2px rgba(255, 174, 0, 0.5);
              background: #f7931d;
              background: -moz-linear-gradient(top, #f7931d 0%, #ef7714 100%);
              background: -webkit-linear-gradient(top, #f7931d 0%, #ef7714 100%);
              background: linear-gradient(to bottom, #f7931d 0%, #ef7714 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7931d', endColorstr='#0073bd', GradientType=0);
            }
          }
          /*.radio_buttons input[type=radio]:checked+label {
            background: #d74747;
          }*/
          .spam-block {
            margin-bottom: 10%;
            white-space: nowrap;
            &__spam-me {
              width: 100%;
              display: inline-block;
              font-size: 0.9em;
              label {
                width: 1.6em;
                height: 1.6em;
                display: inline-block;
                border: 1px solid #d5d5d5;
                border-radius: 0.8em;
                vertical-align: top;
                margin-right: 0.6em;
              }
              input[type=checkbox]:checked+label {
                border: 1px solid transparent;
                background-image: url('/assets/images/checkbox.png');
                background-size: cover;
                background-repeat: no-repeat;
              }
              input {
                display: none;
              }
              .label-text {
                display: inline-block;
                white-space: normal;
                vertical-align: top;
              }
            }
            &__forgot {
              width: 50%;
              display: inline-block;
              text-align: right;
              font-size: 0.9em;
              a {
                color: #0072bc;
                text-decoration: none;

              }
            }
          }
        }
      }
    }

  }
}
.footer {
  background-color: #731900;
  &__wrapper {
    max-width: 1200px;
    padding: 10%;
    .links {
      margin-bottom: 10%;
      &__link {
        color: white;
        display: block;
        font-size: 2em;
        line-height: 2;
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
      }
    }
    .pays {
      text-align: center;
      margin-bottom: 10%;
      &__text {
        color: white;
        font-size: 1.5em;
        margin-bottom: 4%;
      }
      &__cards {
        &__card {
          width: 6em;
          height: 4em;
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
          &--visa {
            background-image: url('/assets/images/card--visa.png');
          }
          &--master {
            background-image: url('/assets/images/card--master.png');
          }
        }
      }
    }
    .developer {
      text-align: center;
      color: white;
      font-size: 1.5em;
      margin-bottom: 4%;
    }
    .copyrights {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  body {
    font-size: 1vw;
  }
  .common-head-block {
    width: 100%;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: relative;
      padding-top: 25%;
    }
    .logo {
      left: 4%;
      top: 38%;
      width: 19%;
      padding-top: 14%;
    }
    .contacts {
      display: block;
    }
    .account {
      position: absolute;
      right: 4%;
      top: 22%;
      width: 18%;
      padding-top: 0;
      &__trigger {
        position: relative;
        display: inline-block;
        width: 20%;
        padding-top: 10%;
        vertical-align: middle;
      }
      &__enter {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: white;
        text-decoration: none;
        font-size: 1.4em;
      }
      &__divider {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: #f6901c;
        text-decoration: none;
        font-size: 2em;
        margin: 0 0.2em 0 0.2em;
      }
      &__register {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        color: white;
        text-decoration: none;
        font-size: 1.4em;
      }
    }
    .social-links {
      position: absolute;
      right: 39%;
      top: 23%;
      width: auto;
      white-space: nowrap;
    }
    .navigate {
      left: 25%;
      top: 53.3%;
      width: 74%;
      padding-top: 0;
      border-radius: 10em;
      #search_fields {
        position: absolute;
        width: 60%;
        height: auto;
        left: 12%;
        top: 85%;
        background-color: #e16400;
        -webkit-transition: left 0.5s ease-out;
        -moz-transition: left 0.5s ease-out;
        -o-transition: left 0.5s ease-out;
        transition: left 0.5s ease-out;
        white-space: nowrap;
        padding: 1% 2% 1% 2%;
        border-radius: 10em;
        &.closed {
          left: 100%;
          display: none;
        }
        input {
          display: inline-block;
          width: 80%;
          background-color: transparent;
          border: none;
          font-size: 1.6em;
          line-height: 1.2;
        }
        a {
          display: inline-block;
          width: 20%;
          color: white;
          font-family: "Open Sans";
          font-weight: 600;
          font-size: 1.6em;
          text-align: center;
        }

      }
      &__menu {
        &__hamburger {
          display: none;
        }
        &__links {
          top: 0;
          left: 3.5% !important;
          a {
            display: inline-block;
            margin: 0 1% 0 1%;
            line-height: 3;
            font-size: 1.6em;
            text-transform: uppercase;
            background: none;
            padding-left: 0;
          }
        }
      }
      &__search {
        float: right;
        position: relative;
        right: 0;
        top: 0;
        a {
          height: 4.8em;
          width: 4em;
          background-size: cover;
        }
      }
      &__basket {
        position: relative;
        float: right;
        right: auto;
        margin-right: 5.7%;
        a {
          width: 4.4em;
          height: 4.9em;
          background-size: cover;
        }
        div {
          display: inline-block;
        }
      }

    }
    .order {
      width: 31%;
      left: 67%;
      top: 73%;
      padding-top: 17%;
      z-index: 1;
      a {
        left: 30%;
        top: 23%;
        width: 65%;
        line-height: 2.8;
        font-size: 1.7em;
      }
    }
  }
  .screen {
    position: relative;
    overflow: hidden;
    &--first {
      background: url('/assets/images/bgr--main.jpg') no-repeat center top;
      background-size: cover;
      &__wrapper {
        padding-top: 78.5%;
        height: auto;
        .greeting-text {
          width: 50%;
          left: 12%;
          top: 36%;
          &__first {
            font-size: 4.3em;
            margin-bottom: 12%;
          }
          &__second {
            white-space: nowrap;
            div {
              display: inline-block;
              white-space: normal;
            }
            span {
              color: #f6901c;
              font-size: 2.6em;
              font-style: italic;
            }
          }
        }

      }
    }
    &--menu {
      background: url('/assets/images/bgr--menu.jpg') #e1e1e1 no-repeat center bottom;
      &__wrapper {
        padding: 8% 4% 8% 50%;
        h2 {
          font-size: 4em;
          margin: 0 0 5% 0;
        }
        .text {
          font-family: "Open Sans";
          font-size: 1.7em;
          font-weight: 600;
          color: black;
        }
      }
    }
    &--advantages {
      background: url('/assets/images/bgr--advantages.jpg') no-repeat center top;
      background-size: cover;
      &__wrapper {
        padding: 10% 3% 10% 3%;
        h2 {
          text-align: center;
          margin: 0 0 5% 0;
        }
        .items {
          &__item {
            display: inline-block;
            width: 33%;
            padding: 0;
            vertical-align: top;
            margin-bottom: 11%;
            &__image {
              padding-top: 58%;
              margin: 0 21% 6% 21%;

            }
            &__title {

            }
            &__description {

            }
          }
        }
      }
    }
    &--comparison {
      background: url('/assets/images/bgr--comparison.jpg') no-repeat center top;
      background-color: white;
      background-size: cover;
      &__wrapper {
        padding: 10% 8% 10% 8%;
        h2 {

        }
        .items {
          &__item {
            display: block;
            width: 96%;
            overflow: hidden;
            margin: auto;
            .title {
              line-height: 1.9;
            }
            .good-bad {
              &__good, &__bad {
                display: inline-block;
              }
            }
            &:before {
              display: block;
              float: left;
              padding-top: 50%;
            }
            &:after {
              display: none;
            }
            &:first-child {
              &:after {

              }
            }
          }
        }
      }
    }
    &--about {
      background: url('/assets/images/bgr--about.jpg') no-repeat center bottom;
      background-size: cover;
      &__wrapper {
        padding: 10% 5% 10% 5%;
        white-space: nowrap;
        .text-block {
          display: inline-block;
          vertical-align: top;
          width: 50%;
          white-space: normal;
        }
        .picture-block {
          display: inline-block;
          vertical-align: top;
          width: 40%;
          white-space: normal;
          margin-left: 10%;
          border: 6px solid #959595;
          box-shadow: 9px 8px 40px 2px rgba(22, 22, 22, 0.5);
          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
        h2 {
          text-align: left;
          font-size: 4.3em;
        }
        .text {
          margin-left: 14%;
          font-size: 1.5em;
          line-height: 1.2;
          &--qoute {
            &:before {
              right: 105%;
              width: 10%;
              padding-top: 8%;
              height: auto;
              background-repeat: no-repeat;
            }
            &:after {
              width: 10%;
              padding-top: 8%;
              height: auto;
              background-repeat: no-repeat;
            }
          }
          &--selected {
            text-align: left;
            margin-left: 1%;
            font-weight: 600;
          }
        }
      }
    }
    &--contacts {
      &__wrapper {
        width: 100%;
        max-width: none;
        position: relative;
        padding-top: 33.5%;
        margin: auto;
        .map {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url('/assets/images/map-example.png') no-repeat center bottom;
          background-size: cover;
        }
        .contacts {
          position: absolute;
          left: 54%;
          top: 14%;
          width: 38%;
          height: auto;
          padding: 3% 4% 3% 4%;
          h2 {
            text-align: left;
            font-size: 3em;
            margin: 0 0 5% 0;
          }
          &__address {
            font-size: 1em;
            margin: 0 0 5% 0;
          }
          &__phone {

            &__text {
              font-size: 1em;
            }
            &__phone {
              font-size: 2em;
            }

          }
          &__social-links {
            padding-left: 13%;
            &__link {
              width: 2.65em;
              height: 2.65em;
              &--twitter {

              }
              &--fasebook {

              }
              &--instagramm {

              }

            }
          }
        }
      }
    }
  }
  .header {
    width: 100%;
    background-image: url('/assets/images/bgr--header.jpg');
    background-size: cover;
    background-position: center top;
    &:before {
      display: none;
    }
    .common-head-block {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  .body {

    &__wrapper {
      padding: 4%;
      .page {
        &__title {
          margin: 0 0 5% 0;
          font-weight: 600;
          font-size: 4.3em;
        }
        &__content {
          font-size: 1.3em;
          //как это работает
          &--howitworks {
            white-space: nowrap;
            > div {
              display: inline-block;
              white-space: normal;
              width: 50%;
              vertical-align: top;
              h3 {
                font-style: italic;
                color: black;
                font-size: 2.3em;
                margin: 0 0 4% 0;
              }
              &:first-child {
                padding-right: 4%;
                h3 {
                  margin-bottom: 15%;
                }
                > div {
                  &:nth-child(2) {
                    margin-bottom: 65%;
                  }
                }
              }
              &:last-child {
                padding-left: 4%;
                p {
                  margin-bottom: 10%;
                }

              }
            }
          }
          &__login-block {
            max-width: none;
            margin: auto;
            width: 42%;
            .input-block {
              input[type="text"], input[type="password"] {
                line-height: 3;
              }
              &__submit {
                width: 46%;
                line-height: 3;
              }
            }
            .remember-block {
              margin-top: -6%;
              margin-bottom: 18%;
              &__remember-me {

                label {

                }
                input[type=checkbox]:checked+label {

                }
                input {

                }
              }
              &__forgot {

                a {

                }
              }
            }
          }
          &--order {
            .plate-type {
              text-align: left;
              margin-bottom: 3%;
            }
            .day-selector {

              div:first-child {
                margin: 0 0 2% 0;
                font-size: 1.2em;
              }
              &__days {
                &:before, &:after  {
                }
                a {
                  &.active {
                  }
                }
              }
            }
            .plate-items {
              margin-left: -2%;
              margin-right: -2%;
              .item {
                display: inline-block;
                width: 29%;
                margin: 0 2% 0 2%;
                &__image {
                  margin-bottom: 7%;
                  &__wrapper {
                    img {
                    }
                  }
                }
                &__title {
                }
                &__set {
                  &__title {
                  }
                  &__content {
                    font-size: 0.9em;
                    line-height: 1.2;
                  }
                }
                &__price {
                }
                &__order {
                  &.active {
                  }
                }
              }
            }
            .divider {
              width: 100%;
              background-image: url(/assets/images/bgr-divider.png);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;
              margin: 6% 0 6% 0;
              &:before {
              }
            }
            .plate-subtype-selector {
              a {
                &.active {
                }
              }
            }
          }
          &--confirm {
            &:after {
              content: '';
              display: block;
              clear: both;
            }
            h3 {
              text-align: left;
              margin: 0 0 2% 0;
            }
            .day-value {
              margin: 0 0 4% 0;
              font-size: 1.2em;
              span {
                color: #ef7614;
                font-style: italic;
                font-weight: bold;
                font-size: 1.4em;
              }
            }
            .order-items {
              .item {
                &__image {
                  width: 12%;
                  padding-top: 12%;
                  margin-right: 3%;
                  &__wrapper {
                    img {
                    }
                  }
                }
                &__title {
                  font-weight: bold;
                  font-size: 1.2em;
                  width: 64%;
                }
                &__price {
                  text-align: right;
                  width: 12%;
                  font-weight: bold;
                  font-size: 1.6em;
                  margin-right: 2%;
                }
                &__remove {
                  background-size: 17%;
                }
              }
            }
            .contacts {
              float: left;
              width: 50%;
            }
            .order {
              float: right;
              width: 21%;
              a {
                width: 100%;
                font-size: 1em;
                line-height: 3;
              }
            }

          }
          &__register-block {
            max-width: none;
            margin: auto;
            width: 42%;
            .input-block {
              input[type="text"], input[type="password"], input[type="phone"] {
                line-height: 3;
              }
              text-align: center;
              &__submit {
                width: auto;
                display: inline-block;
                line-height: 2.7;
                padding: 0 1.5em 0 1.5em;
              }
            }
            .spam-block {
              margin-top: -6%;
              margin-bottom: 18%;
              &__spam-me {

                label {

                }
                input[type=checkbox]:checked+label {

                }
                input {

                }
              }
              &__forgot {

                a {

                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    &__wrapper {
      max-width: 1200px;
      padding: 25% 0 0 0;
      position: relative;
      margin: auto;
      .logo {
        position: absolute;
        left: 8%;
        top: 28%;
        width: 9%;
        padding-top: 7%;
        background: url(/assets/images/logo.png) no-repeat center top;
        background-size: contain;
      }
      .copyrights {
        display: block;
        position: absolute;
        left: 6.5%;
        top: 62%;
        text-align: center;
        color: white;
      }
      .links {
        position: absolute;
        left: 30%;
        top: 22%;
        margin-bottom: 0;
        &__link {
          color: white;
          font-size: 1.4em;
          line-height: 2.6;
          text-align: left;
        }
      }
      .pays {
        position: absolute;
        text-align: left;
        top: 36%;
        left: 56%;

        &__text {
          font-size: 1.4em;
          margin-bottom: 10%;
        }
        &__cards {
          position: absolute;
          &__card {
            width: 6em;
            height: 4em;
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            &--visa {
              background-image: url('/assets/images/card--visa.png');
            }
            &--master {
              background-image: url('/assets/images/card--master.png');
            }
          }
        }
      }
      .developer {
        text-align: left;
        color: white;
        font-size: 1.3em;
        margin-bottom: 4%;
        position: absolute;
        left: 79%;
        top: 44%;
      }
    }
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 12px;
  }
  .screen {
    &--first {
      &__wrapper {
        padding-top: 0;
        height: 930px;
      }
    }
    &--menu {
      &__wrapper {
        padding: 100px 50px 100px 600px;
        h2 {
        }
        .text {

        }
      }
    }
    &--advantages {
      &__wrapper {
        padding: 116px 0 0 0;
        h2 {
        }
        .items {
          &__item {

            &__image {

            }
            &__title {

            }
            &__description {

            }
          }
        }
      }
    }
    &--about {
      &__wrapper {
        padding: 100px 50px 100px 50px;
        .text-block {
        }
        .picture-block {
          img {
          }
        }
        h2 {
        }
        .text {
          &--qoute {
            &:before {
            }
            &:after {

            }
          }
          &--selected {
          }
        }
      }
    }
    &--contacts {
      &__wrapper {
        height: 400px;
        padding-top: 0;
        .map {

        }
        .contacts {
          width: 440px;
          height: 290px;
          left: 50%;
          top: 55px;
          h2 {

          }
          &__address {

          }
          &__phone {

            &__text {

            }
            &__phone {

            }

          }
          &__social-links {

            &__link {

              &--twitter {

              }
              &--fasebook {

              }
              &--instagramm {

              }

            }
          }
        }
      }
    }
  }
  .footer {
    &__wrapper {
      padding: 0;
      height: 310px;
    }
  }
}

.with-rouble {
  &:after {
    content: '₽';
    display: inline-block;
    vertical-align: inherit;
    font-family: Rouble;
    font-size: 0.8em;
    position: relative;
    font-weight: 300;
    margin-left: 0.1em;
  }
}