@import "fonts.css";

@import "rouble-font.css";
* {
  box-sizing: border-box;
}
body {
  font-size: 12px;
  font-size: 2.6vw;
  font-family: "Open Sans";
}
textarea:focus,
input:focus {
  outline: none;
}
::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #210800;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #210800;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #210800;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #210800;
}
.common-head-block {
  width: 100%;
  position: relative;
}
.common-head-block:before {
  content: '';
  display: block;
  position: relative;
  padding-top: 92%;
}
.common-head-block .logo {
  position: absolute;
  left: 10%;
  top: 8%;
  width: 36%;
  padding-top: 25%;
  background: url(/assets/images/logo.png) no-repeat center top;
  background-size: contain;
}
.common-head-block .contacts {
  position: absolute;
  left: 28%;
  top: 0;
  margin-top: 5%;
  color: white;
  width: 20%;
  padding-left: 4%;
  line-height: 1.4;
  background: url('/assets/images/phone.png') no-repeat left center;
  background-size: 10%;
  display: none;
}
.common-head-block .contacts__text {
  font-size: 1.2em;
}
.common-head-block .contacts__phone {
  font-size: 2em;
}
.common-head-block .social-links {
  position: absolute;
  right: 8%;
  top: 10%;
  width: auto;
  white-space: nowrap;
}
.common-head-block .social-links__link {
  display: inline-block;
  width: 2.65em;
  height: 2.65em;
  background-size: contain;
  background-repeat: no-repeat;
}
.common-head-block .social-links__link--twitter {
  background-image: url(/assets/images/social--tw.png);
}
.common-head-block .social-links__link--fasebook {
  background-image: url(/assets/images/social--fb.png);
}
.common-head-block .social-links__link--instagramm {
  background-image: url(/assets/images/social--inst.png);
}
.common-head-block .account {
  position: absolute;
  right: 7%;
  top: 22%;
  width: 10%;
  padding-top: 10%;
}
.common-head-block .account__trigger {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/assets/images/account.png) no-repeat center top;
  background-size: contain;
}
.common-head-block .account__enter {
  display: none;
}
.common-head-block .account__divider {
  display: none;
}
.common-head-block .account__register {
  display: none;
}
.common-head-block .navigate {
  position: absolute;
  left: 0;
  top: 44%;
  width: 100%;
  padding-top: 15%;
  overflow: visible;
  z-index: 2;
  background: #f7941d;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f7941d 0%, #ef7614 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, #f7941d 0%, #ef7614 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, #f7941d 0%, #ef7614 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7941d', endColorstr='#ef7614', GradientType=0);
  /* IE6-9 */

}
.common-head-block .navigate #search_fields {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0%;
  top: auto;
  background-color: #e16400;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
  white-space: nowrap;
  padding: 3%;
}
.common-head-block .navigate #search_fields.closed {
  left: 100%;
}
.common-head-block .navigate #search_fields input {
  display: inline-block;
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1.6em;
  line-height: 2.2;
}
.common-head-block .navigate #search_fields a {
  display: inline-block;
  width: 20%;
  color: white;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 1.6em;
  text-align: center;
}
.common-head-block .navigate__menu {
  position: static;
  left: 0;
  top: 0;
}
.common-head-block .navigate__menu__hamburger {
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  height: 100%;
  background-image: url(/assets/images/hamburger_close.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.common-head-block .navigate__menu__hamburger.closed {
  background-image: url(/assets/images/hamburger.png);
}
.common-head-block .navigate__menu__links {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0%;
  top: auto;
  -webkit-transition: left 0.5s ease-out;
  -moz-transition: left 0.5s ease-out;
  -o-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
}
.common-head-block .navigate__menu__links.closed {
  left: 100%;
}
.common-head-block .navigate__menu__links a {
  font-family: "Roboto Slab";
  display: block;
  font-size: 2.4em;
  font-weight: 600;
  color: white;
  line-height: 2;
  padding-left: 8%;
  margin: 0;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  background: #e16400;
  /* Old browsers */

}
.common-head-block .navigate__search {
  position: absolute;
  right: 18%;
  top: 0;
}
.common-head-block .navigate__search a {
  background-image: url(/assets/images/lupa.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 5.5em;
  height: 5.5em;
  vertical-align: middle;
}
.common-head-block .navigate__basket {
  position: absolute;
  right: 3%;
  top: 0;
}
.common-head-block .navigate__basket div {
  display: none;
  vertical-align: middle;
  color: #731900;
  font-size: 2em;
  padding-top: 5px;
  font-weight: 600;
}
.common-head-block .navigate__basket a {
  display: inline-block;
  width: 5.5em;
  height: 5.5em;
  vertical-align: middle;
  background-image: url(/assets/images/basket.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.common-head-block .order {
  font-family: "Open Sans";
  position: absolute;
  width: 100%;
  left: -10%;
  top: 54%;
  background-image: url(/assets/images/order-shawl.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 52%;
  z-index: 1;
}
.common-head-block .order a {
  position: absolute;
  left: 27%;
  top: 26%;
  width: 64%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  line-height: 2.8;
  font-weight: 600;
  border-radius: 5em;
  letter-spacing: 0.1em;
  /*тень*/

  box-shadow: 9px 8px 40px 2px rgba(0, 191, 243, 0.5);
  /* градиент */

  background: #00adef;
  /* Old browsers */

  background: -moz-linear-gradient(top, #00adef 0%, #0073bd 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, #00adef 0%, #0073bd 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, #00adef 0%, #0073bd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adef', endColorstr='#0073bd', GradientType=0);
  /* IE6-9 */

}
.screen {
  position: relative;
  overflow: hidden;
}
.screen--first {
  background: url('/assets/images/bgr--main--mobile.jpg') no-repeat center top;
  background-size: cover;
}
.screen--first__wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding-top: 214%;
  margin: auto;
}
.screen--first__wrapper .common-head-block {
  position: absolute;
  left: 0;
  top: 0;
}
.screen--first__wrapper .greeting-text {
  font-family: "Open Sans";
  position: absolute;
  width: 80%;
  left: 10%;
  top: 52%;
  color: white;
  line-height: normal;
}
.screen--first__wrapper .greeting-text__first {
  font-weight: 300;
  font-style: italic;
  font-size: 3.5em;
  margin-bottom: 15%;
  line-height: 1.2;
}
.screen--first__wrapper .greeting-text__first span {
  font-weight: 600;
  font-size: 3em;
  line-height: 0.6;
  display: block;
}
.screen--first__wrapper .greeting-text__second {
  font-style: normal;
  font-size: 1.7em;
  margin-bottom: 8%;
}
.screen--first__wrapper .greeting-text__second div {
  display: inline-block;
}
.screen--first__wrapper .greeting-text__second span {
  color: #f6901c;
  font-size: 2em;
  font-style: italic;
}
.screen--first__wrapper .greeting-text__third {
  font-size: 1.5em;
  font-style: italic;
}
.screen--menu {
  background: url('/assets/images/bgr--menu--mobile.jpg') #e1e1e1 no-repeat center bottom;
  background-size: contain;
}
.screen--menu__wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 10% 10% 100% 10%;
  margin: auto;
}
.screen--menu__wrapper h2 {
  font-family: "Roboto Slab";
  color: #f6901c;
  font-size: 3.6em;
  text-transform: uppercase;
  margin: 0 0 12% 0;
}
.screen--menu__wrapper .text {
  font-family: "Open Sans";
  font-size: 2em;
  font-weight: 600;
}
.screen--advantages {
  background: url('/assets/images/bgr--advantages--mobile.jpg') no-repeat center bottom;
  background-size: cover;
}
.screen--advantages__wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 13% 8% 10% 8%;
  margin: auto;
}
.screen--advantages__wrapper h2 {
  font-family: "Roboto Slab";
  color: black;
  font-size: 3.6em;
  text-transform: uppercase;
  margin: 0 0 9% 0;
}
.screen--advantages__wrapper .items__item {
  display: inline-block;
  width: 49%;
  padding: 0 5% 0 5%;
  vertical-align: top;
  margin-bottom: 11%;
}
.screen--advantages__wrapper .items__item__image {
  display: block;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 6%;
}
.screen--advantages__wrapper .items__item__image--all-is-simple {
  background-image: url('/assets/images/icon--al-is-simple.png');
}
.screen--advantages__wrapper .items__item__image--no-shop {
  background-image: url('/assets/images/icon--no-shop.png');
}
.screen--advantages__wrapper .items__item__image--economy {
  background-image: url('/assets/images/icon--economy.png');
}
.screen--advantages__wrapper .items__item__image--quality {
  background-image: url('/assets/images/icon--quality.png');
}
.screen--advantages__wrapper .items__item__image--family {
  background-image: url('/assets/images/icon--family.png');
}
.screen--advantages__wrapper .items__item__image--divercity {
  background-image: url('/assets/images/icon--divercity.png');
}
.screen--advantages__wrapper .items__item__title {
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 2em;
  color: black;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 4%;
}
.screen--advantages__wrapper .items__item__description {
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.3em;
  color: black;
  font-weight: 600;
}
.screen--comparison {
  background: url('/assets/images/bgr--comparison--mobile.jpg') no-repeat center bottom;
  background-size: cover;
}
.screen--comparison__wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 12% 8% 10% 8%;
  margin: auto;
}
.screen--comparison__wrapper h2 {
  font-family: "Roboto Slab";
  color: black;
  font-size: 3.6em;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0 0 9% 0;
  text-align: center;
}
.screen--comparison__wrapper .items__item {
  display: block;
  position: relative;
}
.screen--comparison__wrapper .items__item .title {
  font-family: "Roboto Slab";
  color: black;
  font-size: 2.8em;
  text-align: center;
  font-weight: 600;
  line-height: 2.9;
}
.screen--comparison__wrapper .items__item .good-bad {
  width: 100%;
  white-space: nowrap;
  background: url('/assets/images/bgr--comparison__item.png') no-repeat center center;
  background-size: initial;
}
.screen--comparison__wrapper .items__item .good-bad__good,
.screen--comparison__wrapper .items__item .good-bad__bad {
  display: none;
  white-space: normal;
  vertical-align: middle;
  width: 36%;
  margin: 0% 7% 0 7%;
  font-family: "Open Sans";
  font-size: 1.4em;
  font-weight: 600;
  color: black;
}
.screen--comparison__wrapper .items__item:after {
  content: '';
  height: 3px;
  position: absolute;
  width: 66%;
  left: 17%;
  background-color: #e1e1e1;
}
.screen--comparison__wrapper .items__item:first-child:after {
  display: none;
}
.screen--about {
  background: url('/assets/images/bgr--about--mobile.jpg') no-repeat center bottom;
  background-size: cover;
}
.screen--about__wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding: 12% 14% 10% 14%;
  margin: auto;
}
.screen--about__wrapper h2 {
  font-family: "Roboto Slab";
  color: black;
  font-size: 3.6em;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0 0 20% 0;
  text-align: center;
  color: #f6901c;
}
.screen--about__wrapper .picture-block {
  display: none;
}
.screen--about__wrapper .text {
  font-family: "Open Sans";
  font-size: 2em;
  color: white;
  font-style: italic;
  margin-bottom: 20%;
  position: relative;
  overflow: visible;
}
.screen--about__wrapper .text--qoute:before {
  content: '';
  position: absolute;
  right: 100%;
  bottom: 100%;
  background-image: url('/assets/images/quote--left.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
}
.screen--about__wrapper .text--qoute:after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: 0;
  background-image: url('/assets/images/quote--right.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
}
.screen--about__wrapper .text--selected {
  color: #f6901c;
  font-style: normal;
  text-align: center;
  margin-bottom: 0;
}
.screen--contacts__wrapper {
  width: 100%;
  max-width: 1200px;
  position: relative;
  padding-top: 240%;
  margin: auto;
}
.screen--contacts__wrapper .map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: url('/assets/images/map-example.png') no-repeat center bottom;
  background-size: cover;
}
.screen--contacts__wrapper .contacts {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 50%;
  background-color: #f6901c;
  padding: 12%;
}
.screen--contacts__wrapper .contacts h2 {
  font-family: "Roboto Slab";
  color: white;
  font-size: 3.6em;
  line-height: 1.25;
  text-transform: uppercase;
  margin: 0 0 20% 0;
  text-align: center;
}
.screen--contacts__wrapper .contacts__address {
  color: white;
  font-size: 2em;
  margin-bottom: 14%;
}
.screen--contacts__wrapper .contacts__phone {
  color: white;
  padding-left: 16%;
  line-height: 1.4;
  background: url('/assets/images/phone--white.png') no-repeat left center;
  background-size: 10%;
  margin-bottom: 4%;
}
.screen--contacts__wrapper .contacts__phone__text {
  font-size: 1.7em;
}
.screen--contacts__wrapper .contacts__phone__phone {
  font-size: 2.6em;
}
.screen--contacts__wrapper .contacts__social-links {
  position: relative;
  width: auto;
  white-space: nowrap;
  padding-left: 16%;
}
.screen--contacts__wrapper .contacts__social-links__link {
  display: inline-block;
  width: 3.65em;
  height: 3.65em;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.6em;
}
.screen--contacts__wrapper .contacts__social-links__link--twitter {
  background-image: url(/assets/images/social--tw.png);
}
.screen--contacts__wrapper .contacts__social-links__link--fasebook {
  background-image: url(/assets/images/social--fb.png);
}
.screen--contacts__wrapper .contacts__social-links__link--instagramm {
  background-image: url(/assets/images/social--inst.png);
}
.header {
  width: 100%;
  background-image: url('/assets/images/bgr--header.jpg');
  background-size: cover;
  background-position: center top;
}
.header:before {
  content: '';
  display: block;
  position: relative;
  padding-top: 55%;
}
.header .common-head-block {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.body {
  background-color: white;
}
.body--bgr {
  background-image: url('/assets/images/bgr--content.jpg');
  background-position: center top;
}
.body__wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 50% 4% 4% 4%;
  margin: auto;
}
.body__wrapper .page__breadcrumb {
  font-size: 1em;
}
.body__wrapper .page__breadcrumb a {
  text-decoration: none;
  color: black;
}
.body__wrapper .page__title {
  font-family: "Roboto Slab";
  color: #f6901c;
  font-size: 3.6em;
  text-transform: uppercase;
  margin: 0 0 8% 0;
}
.body__wrapper .page__content {
  font-size: 1.6em;
  line-height: 1.4;
  font-family: "Open Sans";
  color: black;
}
.body__wrapper .page__content--howitworks > div h3 {
  font-style: italic;
  color: black;
  font-size: 2em;
}
.body__wrapper .page__content--howitworks > div:first-child {
  background-image: url('/assets/images/bgr--howitworks.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 57%;
}
.body__wrapper .page__content__login-block {
  max-width: 320px;
  margin: auto;
  /*.radio_buttons input[type=radio]:checked+label {
            background: #d74747;
          }*/

}
.body__wrapper .page__content__login-block .input-block {
  margin-bottom: 10%;
}
.body__wrapper .page__content__login-block .input-block ::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #898989;
}
.body__wrapper .page__content__login-block .input-block :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #898989;
}
.body__wrapper .page__content__login-block .input-block ::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #898989;
}
.body__wrapper .page__content__login-block .input-block :-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #898989;
}
.body__wrapper .page__content__login-block .input-block input[type="text"],
.body__wrapper .page__content__login-block .input-block input[type="password"] {
  background-color: white;
  border: 1px solid #fbaf5d;
  width: 100%;
  font-size: 1em;
  line-height: 2.3;
  border-radius: 2em;
  padding: 0 1em 0 1em;
}
.body__wrapper .page__content__login-block .input-block__submit {
  width: 72%;
  margin: auto;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  line-height: 3.3;
  font-weight: bold;
  border-radius: 5em;
  box-shadow: 9px 8px 40px 2px rgba(255, 174, 0, 0.5);
  background: #f7931d;
  background: -moz-linear-gradient(top, #f7931d 0%, #ef7714 100%);
  background: -webkit-linear-gradient(top, #f7931d 0%, #ef7714 100%);
  background: linear-gradient(to bottom, #f7931d 0%, #ef7714 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7931d', endColorstr='#0073bd', GradientType=0);
}
.body__wrapper .page__content__login-block .remember-block {
  white-space: nowrap;
  margin-bottom: 10%;
}
.body__wrapper .page__content__login-block .remember-block__remember-me {
  width: 50%;
  display: inline-block;
  font-size: 0.9em;
}
.body__wrapper .page__content__login-block .remember-block__remember-me label {
  width: 1.6em;
  height: 1.6em;
  display: inline-block;
  border: 1px solid #d5d5d5;
  border-radius: 0.8em;
  vertical-align: middle;
  margin-right: 0.6em;
}
.body__wrapper .page__content__login-block .remember-block__remember-me input[type=checkbox]:checked + label {
  background: #d5d5d5;
}
.body__wrapper .page__content__login-block .remember-block__remember-me input {
  display: none;
}
.body__wrapper .page__content__login-block .remember-block__forgot {
  width: 50%;
  display: inline-block;
  text-align: right;
  font-size: 0.9em;
}
.body__wrapper .page__content__login-block .remember-block__forgot a {
  color: #0072bc;
  text-decoration: none;
}
.body__wrapper .page__content--order .plate-type {
  color: black;
  font-weight: bold;
  font-family: "Roboto Slab";
  font-size: 1.6em;
  text-align: center;
  margin: 0 0 4% 0;
}
.body__wrapper .page__content--order .day-selector {
  text-align: center;
  overflow: hidden;
  margin-bottom: 4%;
}
.body__wrapper .page__content--order .day-selector div:first-child {
  margin: 0 0 4% 0;
}
.body__wrapper .page__content--order .day-selector__days {
  white-space: nowrap;
  text-align: center;
  width: 140%;
  margin-left: -20%;
}
.body__wrapper .page__content--order .day-selector__days:before,
.body__wrapper .page__content--order .day-selector__days:after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 2px;
  background-color: #f6f6f6;
  vertical-align: middle;
}
.body__wrapper .page__content--order .day-selector__days a {
  display: inline-block;
  font-size: 2em;
  font-family: "Open Sans";
  background-color: #cccccc;
  color: white;
  text-decoration: none;
  font-style: italic;
  border-radius: 50%;
  line-height: 1.4;
  width: 1.4em;
  vertical-align: middle;
}
.body__wrapper .page__content--order .day-selector__days a.active {
  background-color: #f7941d;
}
.body__wrapper .page__content--order .plate-items .item {
  width: 100%;
  margin-bottom: 12%;
}
.body__wrapper .page__content--order .plate-items .item__image {
  padding-top: 80%;
  position: relative;
  background-image: url('/assets/images/bgr--item.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 4%;
}
.body__wrapper .page__content--order .plate-items .item__image__wrapper {
  position: absolute;
  left: 10%;
  top: 0;
  width: 80%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.body__wrapper .page__content--order .plate-items .item__image__wrapper img {
  display: block;
  height: 100%;
  width: auto;
}
.body__wrapper .page__content--order .plate-items .item__title {
  font-family: "Open Sans";
  text-align: center;
  color: black;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 4%;
}
.body__wrapper .page__content--order .plate-items .item__set {
  font-family: "Open Sans";
  text-align: center;
  color: black;
  font-size: 1.2em;
}
.body__wrapper .page__content--order .plate-items .item__set__title {
  font-style: italic;
}
.body__wrapper .page__content--order .plate-items .item__price {
  color: #f7941d;
  font-size: 3em;
  font-family: "Open Sans";
  text-align: center;
  font-weight: bold;
  margin-bottom: 4%;
}
.body__wrapper .page__content--order .plate-items .item__order {
  width: 72%;
  margin: auto;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  line-height: 3.3;
  font-weight: bold;
  border-radius: 5em;
  /*тень*/

  box-shadow: 9px 8px 40px 2px rgba(0, 191, 243, 0.5);
  /* градиент */

  background: #00adef;
  /* Old browsers */

  background: -moz-linear-gradient(top, #00adef 0%, #0073bd 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, #00adef 0%, #0073bd 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, #00adef 0%, #0073bd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adef', endColorstr='#0073bd', GradientType=0);
  /* IE6-9 */

}
.body__wrapper .page__content--order .plate-items .item__order.active {
  box-shadow: 9px 8px 40px 2px rgba(255, 174, 0, 0.5);
  background: #f7931d;
  background: -moz-linear-gradient(top, #f7931d 0%, #ef7714 100%);
  background: -webkit-linear-gradient(top, #f7931d 0%, #ef7714 100%);
  background: linear-gradient(to bottom, #f7931d 0%, #ef7714 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7931d', endColorstr='#0073bd', GradientType=0);
}
.body__wrapper .page__content--order .divider {
  width: 100%;
  background-image: url('/assets/images/bgr-divider.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.body__wrapper .page__content--order .divider:before {
  content: '';
  display: block;
  position: relative;
  padding-top: 20%;
}
.body__wrapper .page__content--order .plate-subtype-selector {
  text-align: center;
  margin-bottom: 8%;
  width: 140%;
  margin-left: -20%;
}
.body__wrapper .page__content--order .plate-subtype-selector:before,
.body__wrapper .page__content--order .plate-subtype-selector:after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 2px;
  background-color: #f6f6f6;
  vertical-align: middle;
}
.body__wrapper .page__content--order .plate-subtype-selector:before {
  margin-right: 1em;
}
.body__wrapper .page__content--order .plate-subtype-selector:after {
  margin-left: 1em;
}
.body__wrapper .page__content--order .plate-subtype-selector a {
  display: inline-block;
  font-family: "Roboto Slab";
  font-size: 1.4em;
  background-color: #cccccc;
  line-height: 2;
  border-radius: 2em;
  font-weight: bold;
  padding: 0 1.6em 0 1.6em;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
.body__wrapper .page__content--order .plate-subtype-selector a.active {
  background-color: #f7941d;
}
.body__wrapper .page__content--confirm h3 {
  color: black;
  font-weight: bold;
  font-family: "Roboto Slab";
  font-size: 1.6em;
  text-align: center;
  margin: 0 0 4% 0;
}
.body__wrapper .page__content--confirm .day-value {
  margin: 0 0 4% 0;
}
.body__wrapper .page__content--confirm .day-value span {
  color: #ef7614;
  font-style: italic;
  font-weight: bold;
  font-size: 1.4em;
}
.body__wrapper .page__content--confirm .order-items {
  margin: 0 0 4% 0;
}
.body__wrapper .page__content--confirm .order-items .item {
  display: block;
  white-space: nowrap;
}
.body__wrapper .page__content--confirm .order-items .item__image {
  display: inline-block;
  width: 20%;
  padding-top: 20%;
  position: relative;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 1%;
}
.body__wrapper .page__content--confirm .order-items .item__image__wrapper {
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}
.body__wrapper .page__content--confirm .order-items .item__image__wrapper img {
  display: block;
  height: 100%;
  width: auto;
}
.body__wrapper .page__content--confirm .order-items .item__title {
  display: inline-block;
  width: 45%;
  font-family: "Open Sans";
  text-align: left;
  color: black;
  font-size: 1em;
  font-weight: normal;
  white-space: normal;
  vertical-align: middle;
}
.body__wrapper .page__content--confirm .order-items .item__price {
  display: inline-block;
  width: 20%;
  color: #f7941d;
  font-size: 1em;
  font-family: "Open Sans";
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}
.body__wrapper .page__content--confirm .order-items .item__remove {
  display: inline-block;
  width: 10%;
  padding-top: 10%;
  background-image: url('/assets/images/item__remove.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
}
.body__wrapper .page__content--confirm .contacts {
  margin: 0 0 4% 0;
}
.body__wrapper .page__content--confirm .contacts__address {
  margin-bottom: 2%;
}
.body__wrapper .page__content--confirm .contacts__contacts span {
  font-weight: bold;
}
.body__wrapper .page__content--confirm .contacts__time span {
  font-weight: bold;
}
.body__wrapper .page__content--confirm .order {
  font-family: "Open Sans";
  width: 100%;
}
.body__wrapper .page__content--confirm .order a {
  width: 72%;
  margin: auto;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  line-height: 3.3;
  font-weight: bold;
  border-radius: 5em;
  /*тень*/

  box-shadow: 9px 8px 40px 2px rgba(0, 191, 243, 0.5);
  /* градиент */

  background: #00adef;
  /* Old browsers */

  background: -moz-linear-gradient(top, #00adef 0%, #0073bd 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(top, #00adef 0%, #0073bd 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(to bottom, #00adef 0%, #0073bd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adef', endColorstr='#0073bd', GradientType=0);
  /* IE6-9 */

}
.body__wrapper .page__content--confirm .order a.active {
  box-shadow: 9px 8px 40px 2px rgba(255, 174, 0, 0.5);
  background: #f7931d;
  background: -moz-linear-gradient(top, #f7931d 0%, #ef7714 100%);
  background: -webkit-linear-gradient(top, #f7931d 0%, #ef7714 100%);
  background: linear-gradient(to bottom, #f7931d 0%, #ef7714 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7931d', endColorstr='#0073bd', GradientType=0);
}
.body__wrapper .page__content__register-block {
  max-width: 320px;
  margin: auto;
  /*.radio_buttons input[type=radio]:checked+label {
            background: #d74747;
          }*/

}
.body__wrapper .page__content__register-block .input-block {
  margin-bottom: 10%;
}
.body__wrapper .page__content__register-block .input-block ::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #898989;
}
.body__wrapper .page__content__register-block .input-block :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #898989;
}
.body__wrapper .page__content__register-block .input-block ::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #898989;
}
.body__wrapper .page__content__register-block .input-block :-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #898989;
}
.body__wrapper .page__content__register-block .input-block input[type="text"],
.body__wrapper .page__content__register-block .input-block input[type="password"],
.body__wrapper .page__content__register-block .input-block input[type="phone"] {
  background-color: white;
  border: 1px solid #fbaf5d;
  width: 100%;
  font-size: 1em;
  line-height: 2.3;
  border-radius: 2em;
  padding: 0 1em 0 1em;
}
.body__wrapper .page__content__register-block .input-block__submit {
  width: 72%;
  margin: auto;
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  line-height: 3.3;
  font-weight: bold;
  border-radius: 5em;
  box-shadow: 9px 8px 40px 2px rgba(255, 174, 0, 0.5);
  background: #f7931d;
  background: -moz-linear-gradient(top, #f7931d 0%, #ef7714 100%);
  background: -webkit-linear-gradient(top, #f7931d 0%, #ef7714 100%);
  background: linear-gradient(to bottom, #f7931d 0%, #ef7714 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7931d', endColorstr='#0073bd', GradientType=0);
}
.body__wrapper .page__content__register-block .spam-block {
  margin-bottom: 10%;
  white-space: nowrap;
}
.body__wrapper .page__content__register-block .spam-block__spam-me {
  width: 100%;
  display: inline-block;
  font-size: 0.9em;
}
.body__wrapper .page__content__register-block .spam-block__spam-me label {
  width: 1.6em;
  height: 1.6em;
  display: inline-block;
  border: 1px solid #d5d5d5;
  border-radius: 0.8em;
  vertical-align: top;
  margin-right: 0.6em;
}
.body__wrapper .page__content__register-block .spam-block__spam-me input[type=checkbox]:checked + label {
  border: 1px solid transparent;
  background-image: url('/assets/images/checkbox.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.body__wrapper .page__content__register-block .spam-block__spam-me input {
  display: none;
}
.body__wrapper .page__content__register-block .spam-block__spam-me .label-text {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
.body__wrapper .page__content__register-block .spam-block__forgot {
  width: 50%;
  display: inline-block;
  text-align: right;
  font-size: 0.9em;
}
.body__wrapper .page__content__register-block .spam-block__forgot a {
  color: #0072bc;
  text-decoration: none;
}
.footer {
  background-color: #731900;
}
.footer__wrapper {
  max-width: 1200px;
  padding: 10%;
}
.footer__wrapper .links {
  margin-bottom: 10%;
}
.footer__wrapper .links__link {
  color: white;
  display: block;
  font-size: 2em;
  line-height: 2;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}
.footer__wrapper .pays {
  text-align: center;
  margin-bottom: 10%;
}
.footer__wrapper .pays__text {
  color: white;
  font-size: 1.5em;
  margin-bottom: 4%;
}
.footer__wrapper .pays__cards__card {
  width: 6em;
  height: 4em;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
.footer__wrapper .pays__cards__card--visa {
  background-image: url('/assets/images/card--visa.png');
}
.footer__wrapper .pays__cards__card--master {
  background-image: url('/assets/images/card--master.png');
}
.footer__wrapper .developer {
  text-align: center;
  color: white;
  font-size: 1.5em;
  margin-bottom: 4%;
}
.footer__wrapper .copyrights {
  display: none;
}
@media (min-width: 768px) {
  body {
    font-size: 1vw;
  }
  .common-head-block {
    width: 100%;
    position: relative;
  }
  .common-head-block:before {
    content: '';
    display: block;
    position: relative;
    padding-top: 25%;
  }
  .common-head-block .logo {
    left: 4%;
    top: 38%;
    width: 19%;
    padding-top: 14%;
  }
  .common-head-block .contacts {
    display: block;
  }
  .common-head-block .account {
    position: absolute;
    right: 4%;
    top: 22%;
    width: 18%;
    padding-top: 0;
  }
  .common-head-block .account__trigger {
    position: relative;
    display: inline-block;
    width: 20%;
    padding-top: 10%;
    vertical-align: middle;
  }
  .common-head-block .account__enter {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
  }
  .common-head-block .account__divider {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #f6901c;
    text-decoration: none;
    font-size: 2em;
    margin: 0 0.2em 0 0.2em;
  }
  .common-head-block .account__register {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
  }
  .common-head-block .social-links {
    position: absolute;
    right: 39%;
    top: 23%;
    width: auto;
    white-space: nowrap;
  }
  .common-head-block .navigate {
    left: 25%;
    top: 53.3%;
    width: 74%;
    padding-top: 0;
    border-radius: 10em;
  }
  .common-head-block .navigate #search_fields {
    position: absolute;
    width: 60%;
    height: auto;
    left: 12%;
    top: 85%;
    background-color: #e16400;
    -webkit-transition: left 0.5s ease-out;
    -moz-transition: left 0.5s ease-out;
    -o-transition: left 0.5s ease-out;
    transition: left 0.5s ease-out;
    white-space: nowrap;
    padding: 1% 2% 1% 2%;
    border-radius: 10em;
  }
  .common-head-block .navigate #search_fields.closed {
    left: 100%;
    display: none;
  }
  .common-head-block .navigate #search_fields input {
    display: inline-block;
    width: 80%;
    background-color: transparent;
    border: none;
    font-size: 1.6em;
    line-height: 1.2;
  }
  .common-head-block .navigate #search_fields a {
    display: inline-block;
    width: 20%;
    color: white;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 1.6em;
    text-align: center;
  }
  .common-head-block .navigate__menu__hamburger {
    display: none;
  }
  .common-head-block .navigate__menu__links {
    top: 0;
    left: 3.5% !important;
  }
  .common-head-block .navigate__menu__links a {
    display: inline-block;
    margin: 0 1% 0 1%;
    line-height: 3;
    font-size: 1.6em;
    text-transform: uppercase;
    background: none;
    padding-left: 0;
  }
  .common-head-block .navigate__search {
    float: right;
    position: relative;
    right: 0;
    top: 0;
  }
  .common-head-block .navigate__search a {
    height: 4.8em;
    width: 4em;
    background-size: cover;
  }
  .common-head-block .navigate__basket {
    position: relative;
    float: right;
    right: auto;
    margin-right: 5.7%;
  }
  .common-head-block .navigate__basket a {
    width: 4.4em;
    height: 4.9em;
    background-size: cover;
  }
  .common-head-block .navigate__basket div {
    display: inline-block;
  }
  .common-head-block .order {
    width: 31%;
    left: 67%;
    top: 73%;
    padding-top: 17%;
    z-index: 1;
  }
  .common-head-block .order a {
    left: 30%;
    top: 23%;
    width: 65%;
    line-height: 2.8;
    font-size: 1.7em;
  }
  .screen {
    position: relative;
    overflow: hidden;
  }
  .screen--first {
    background: url('/assets/images/bgr--main.jpg') no-repeat center top;
    background-size: cover;
  }
  .screen--first__wrapper {
    padding-top: 78.5%;
    height: auto;
  }
  .screen--first__wrapper .greeting-text {
    width: 50%;
    left: 12%;
    top: 36%;
  }
  .screen--first__wrapper .greeting-text__first {
    font-size: 4.3em;
    margin-bottom: 12%;
  }
  .screen--first__wrapper .greeting-text__second {
    white-space: nowrap;
  }
  .screen--first__wrapper .greeting-text__second div {
    display: inline-block;
    white-space: normal;
  }
  .screen--first__wrapper .greeting-text__second span {
    color: #f6901c;
    font-size: 2.6em;
    font-style: italic;
  }
  .screen--menu {
    background: url('/assets/images/bgr--menu.jpg') #e1e1e1 no-repeat center bottom;
  }
  .screen--menu__wrapper {
    padding: 8% 4% 8% 50%;
  }
  .screen--menu__wrapper h2 {
    font-size: 4em;
    margin: 0 0 5% 0;
  }
  .screen--menu__wrapper .text {
    font-family: "Open Sans";
    font-size: 1.7em;
    font-weight: 600;
    color: black;
  }
  .screen--advantages {
    background: url('/assets/images/bgr--advantages.jpg') no-repeat center top;
    background-size: cover;
  }
  .screen--advantages__wrapper {
    padding: 10% 3% 10% 3%;
  }
  .screen--advantages__wrapper h2 {
    text-align: center;
    margin: 0 0 5% 0;
  }
  .screen--advantages__wrapper .items__item {
    display: inline-block;
    width: 33%;
    padding: 0;
    vertical-align: top;
    margin-bottom: 11%;
  }
  .screen--advantages__wrapper .items__item__image {
    padding-top: 58%;
    margin: 0 21% 6% 21%;
  }
  .screen--comparison {
    background: url('/assets/images/bgr--comparison.jpg') no-repeat center top;
    background-color: white;
    background-size: cover;
  }
  .screen--comparison__wrapper {
    padding: 10% 8% 10% 8%;
  }
  .screen--comparison__wrapper .items__item {
    display: block;
    width: 96%;
    overflow: hidden;
    margin: auto;
  }
  .screen--comparison__wrapper .items__item .title {
    line-height: 1.9;
  }
  .screen--comparison__wrapper .items__item .good-bad__good,
  .screen--comparison__wrapper .items__item .good-bad__bad {
    display: inline-block;
  }
  .screen--comparison__wrapper .items__item:before {
    display: block;
    float: left;
    padding-top: 50%;
  }
  .screen--comparison__wrapper .items__item:after {
    display: none;
  }
  .screen--about {
    background: url('/assets/images/bgr--about.jpg') no-repeat center bottom;
    background-size: cover;
  }
  .screen--about__wrapper {
    padding: 10% 5% 10% 5%;
    white-space: nowrap;
  }
  .screen--about__wrapper .text-block {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    white-space: normal;
  }
  .screen--about__wrapper .picture-block {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    white-space: normal;
    margin-left: 10%;
    border: 6px solid #959595;
    box-shadow: 9px 8px 40px 2px rgba(22, 22, 22, 0.5);
  }
  .screen--about__wrapper .picture-block img {
    width: 100%;
    height: auto;
    display: block;
  }
  .screen--about__wrapper h2 {
    text-align: left;
    font-size: 4.3em;
  }
  .screen--about__wrapper .text {
    margin-left: 14%;
    font-size: 1.5em;
    line-height: 1.2;
  }
  .screen--about__wrapper .text--qoute:before {
    right: 105%;
    width: 10%;
    padding-top: 8%;
    height: auto;
    background-repeat: no-repeat;
  }
  .screen--about__wrapper .text--qoute:after {
    width: 10%;
    padding-top: 8%;
    height: auto;
    background-repeat: no-repeat;
  }
  .screen--about__wrapper .text--selected {
    text-align: left;
    margin-left: 1%;
    font-weight: 600;
  }
  .screen--contacts__wrapper {
    width: 100%;
    max-width: none;
    position: relative;
    padding-top: 33.5%;
    margin: auto;
  }
  .screen--contacts__wrapper .map {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/map-example.png') no-repeat center bottom;
    background-size: cover;
  }
  .screen--contacts__wrapper .contacts {
    position: absolute;
    left: 54%;
    top: 14%;
    width: 38%;
    height: auto;
    padding: 3% 4% 3% 4%;
  }
  .screen--contacts__wrapper .contacts h2 {
    text-align: left;
    font-size: 3em;
    margin: 0 0 5% 0;
  }
  .screen--contacts__wrapper .contacts__address {
    font-size: 1em;
    margin: 0 0 5% 0;
  }
  .screen--contacts__wrapper .contacts__phone__text {
    font-size: 1em;
  }
  .screen--contacts__wrapper .contacts__phone__phone {
    font-size: 2em;
  }
  .screen--contacts__wrapper .contacts__social-links {
    padding-left: 13%;
  }
  .screen--contacts__wrapper .contacts__social-links__link {
    width: 2.65em;
    height: 2.65em;
  }
  .header {
    width: 100%;
    background-image: url('/assets/images/bgr--header.jpg');
    background-size: cover;
    background-position: center top;
  }
  .header:before {
    display: none;
  }
  .header .common-head-block {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
  }
  .body__wrapper {
    padding: 4%;
  }
  .body__wrapper .page__title {
    margin: 0 0 5% 0;
    font-weight: 600;
    font-size: 4.3em;
  }
  .body__wrapper .page__content {
    font-size: 1.3em;
  }
  .body__wrapper .page__content--howitworks {
    white-space: nowrap;
  }
  .body__wrapper .page__content--howitworks > div {
    display: inline-block;
    white-space: normal;
    width: 50%;
    vertical-align: top;
  }
  .body__wrapper .page__content--howitworks > div h3 {
    font-style: italic;
    color: black;
    font-size: 2.3em;
    margin: 0 0 4% 0;
  }
  .body__wrapper .page__content--howitworks > div:first-child {
    padding-right: 4%;
  }
  .body__wrapper .page__content--howitworks > div:first-child h3 {
    margin-bottom: 15%;
  }
  .body__wrapper .page__content--howitworks > div:first-child > div:nth-child(2) {
    margin-bottom: 65%;
  }
  .body__wrapper .page__content--howitworks > div:last-child {
    padding-left: 4%;
  }
  .body__wrapper .page__content--howitworks > div:last-child p {
    margin-bottom: 10%;
  }
  .body__wrapper .page__content__login-block {
    max-width: none;
    margin: auto;
    width: 42%;
  }
  .body__wrapper .page__content__login-block .input-block input[type="text"],
  .body__wrapper .page__content__login-block .input-block input[type="password"] {
    line-height: 3;
  }
  .body__wrapper .page__content__login-block .input-block__submit {
    width: 46%;
    line-height: 3;
  }
  .body__wrapper .page__content__login-block .remember-block {
    margin-top: -6%;
    margin-bottom: 18%;
  }
  .body__wrapper .page__content--order .plate-type {
    text-align: left;
    margin-bottom: 3%;
  }
  .body__wrapper .page__content--order .day-selector div:first-child {
    margin: 0 0 2% 0;
    font-size: 1.2em;
  }
  .body__wrapper .page__content--order .plate-items {
    margin-left: -2%;
    margin-right: -2%;
  }
  .body__wrapper .page__content--order .plate-items .item {
    display: inline-block;
    width: 29%;
    margin: 0 2% 0 2%;
  }
  .body__wrapper .page__content--order .plate-items .item__image {
    margin-bottom: 7%;
  }
  .body__wrapper .page__content--order .plate-items .item__set__content {
    font-size: 0.9em;
    line-height: 1.2;
  }
  .body__wrapper .page__content--order .divider {
    width: 100%;
    background-image: url(/assets/images/bgr-divider.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 6% 0 6% 0;
  }
  .body__wrapper .page__content--confirm:after {
    content: '';
    display: block;
    clear: both;
  }
  .body__wrapper .page__content--confirm h3 {
    text-align: left;
    margin: 0 0 2% 0;
  }
  .body__wrapper .page__content--confirm .day-value {
    margin: 0 0 4% 0;
    font-size: 1.2em;
  }
  .body__wrapper .page__content--confirm .day-value span {
    color: #ef7614;
    font-style: italic;
    font-weight: bold;
    font-size: 1.4em;
  }
  .body__wrapper .page__content--confirm .order-items .item__image {
    width: 12%;
    padding-top: 12%;
    margin-right: 3%;
  }
  .body__wrapper .page__content--confirm .order-items .item__title {
    font-weight: bold;
    font-size: 1.2em;
    width: 64%;
  }
  .body__wrapper .page__content--confirm .order-items .item__price {
    text-align: right;
    width: 12%;
    font-weight: bold;
    font-size: 1.6em;
    margin-right: 2%;
  }
  .body__wrapper .page__content--confirm .order-items .item__remove {
    background-size: 17%;
  }
  .body__wrapper .page__content--confirm .contacts {
    float: left;
    width: 50%;
  }
  .body__wrapper .page__content--confirm .order {
    float: right;
    width: 21%;
  }
  .body__wrapper .page__content--confirm .order a {
    width: 100%;
    font-size: 1em;
    line-height: 3;
  }
  .body__wrapper .page__content__register-block {
    max-width: none;
    margin: auto;
    width: 42%;
  }
  .body__wrapper .page__content__register-block .input-block {
    text-align: center;
  }
  .body__wrapper .page__content__register-block .input-block input[type="text"],
  .body__wrapper .page__content__register-block .input-block input[type="password"],
  .body__wrapper .page__content__register-block .input-block input[type="phone"] {
    line-height: 3;
  }
  .body__wrapper .page__content__register-block .input-block__submit {
    width: auto;
    display: inline-block;
    line-height: 2.7;
    padding: 0 1.5em 0 1.5em;
  }
  .body__wrapper .page__content__register-block .spam-block {
    margin-top: -6%;
    margin-bottom: 18%;
  }
  .footer__wrapper {
    max-width: 1200px;
    padding: 25% 0 0 0;
    position: relative;
    margin: auto;
  }
  .footer__wrapper .logo {
    position: absolute;
    left: 8%;
    top: 28%;
    width: 9%;
    padding-top: 7%;
    background: url(/assets/images/logo.png) no-repeat center top;
    background-size: contain;
  }
  .footer__wrapper .copyrights {
    display: block;
    position: absolute;
    left: 6.5%;
    top: 62%;
    text-align: center;
    color: white;
  }
  .footer__wrapper .links {
    position: absolute;
    left: 30%;
    top: 22%;
    margin-bottom: 0;
  }
  .footer__wrapper .links__link {
    color: white;
    font-size: 1.4em;
    line-height: 2.6;
    text-align: left;
  }
  .footer__wrapper .pays {
    position: absolute;
    text-align: left;
    top: 36%;
    left: 56%;
  }
  .footer__wrapper .pays__text {
    font-size: 1.4em;
    margin-bottom: 10%;
  }
  .footer__wrapper .pays__cards {
    position: absolute;
  }
  .footer__wrapper .pays__cards__card {
    width: 6em;
    height: 4em;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
  .footer__wrapper .pays__cards__card--visa {
    background-image: url('/assets/images/card--visa.png');
  }
  .footer__wrapper .pays__cards__card--master {
    background-image: url('/assets/images/card--master.png');
  }
  .footer__wrapper .developer {
    text-align: left;
    color: white;
    font-size: 1.3em;
    margin-bottom: 4%;
    position: absolute;
    left: 79%;
    top: 44%;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 12px;
  }
  .screen--first__wrapper {
    padding-top: 0;
    height: 930px;
  }
  .screen--menu__wrapper {
    padding: 100px 50px 100px 600px;
  }
  .screen--advantages__wrapper {
    padding: 116px 0 0 0;
  }
  .screen--about__wrapper {
    padding: 100px 50px 100px 50px;
  }
  .screen--contacts__wrapper {
    height: 400px;
    padding-top: 0;
  }
  .screen--contacts__wrapper .contacts {
    width: 440px;
    height: 290px;
    left: 50%;
    top: 55px;
  }
  .footer__wrapper {
    padding: 0;
    height: 310px;
  }
}
.with-rouble:after {
  content: '₽';
  display: inline-block;
  vertical-align: inherit;
  font-family: Rouble;
  font-size: 0.8em;
  position: relative;
  font-weight: 300;
  margin-left: 0.1em;
}
