  .scrollingBody {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30%;
  }
  @media(min-width: 768px) {
    .scrollingBody {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 6%;
    }
  }
