:global {
  .aboutbrendComp {
    &__description {
      overflow: hidden;
      margin-bottom: 1%;
      &:empty {
        display: none;
      }
      .description {
        color: #a7a2a2;
        margin-bottom: 1%;
      }
    }
    &__items {
      padding: 8% 12% 0 7%;
      overflow: hidden;
    }
  }
}
