:global {
  .customSelect {
    width: 100%;
    position: relative;
    &.disabled {
      * {
        color: #a6a6a6 !important;
        border-color: #a6a6a6 !important;
      }
      .control {
        pointer-events: none;
      }
      .arrow {
        pointer-events: none;
        &:before {
          border-right-color: #a6a6a6 !important;
          border-bottom-color: #a6a6a6 !important;
          border-color: #a6a6a6 !important;
        }
      }
    }
    &.opened {
      z-index: 1000 !important;
    }
    &__outerMenu {
      width: 100%;
      height: 300px;
      max-height: 300px;
      position: absolute;
      background-color: white;
      border: 1px solid #d9d8d8;
      border-top-color: transparent;
      padding: 10px 10px 10px 10px;
      right: 0;
      top: 1.5em;
      text-align: left;
      line-height: 1.8;
      white-space: normal;
      overflow: hidden;
      &.autowidth {
        width: auto;
        min-width: 50px;
      }

      &.closed {
        display: none;
      }

      &.withIcon {
        &:before {
          right: 15px;
          top: -8px;
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        right: 12px;
        display: block;
        height: 4px;
        width: 26px;
        background-color: white;
      }
      .item {
        font-size: 0.9rem;
        color: #868887;
        margin: 0 10px 0 16px;
        padding: 0 6px 0 6px;

        cursor: pointer;
        &:hover {
          background-color: #dff6f1;
        }
      }
      .group {
        color: #53cdb5;
        font-size: 1.2em;
        margin-left: 12px;
      }
      .header {
        color: #ff7113;
        font-size: 1.2em;
        margin: 0 10px 0 16px;
        padding: 0 6px 0 6px;
      }
      .scrollTrack {
        position: absolute;
        width: 3px !important;
        transition: opacity 200ms;
        right: 0px;
        top: 7%;
        height: 89%;
        cursor: pointer;
        &:before {
          content: '';
          position: absolute;
          width: 1px;
          height: 110%;
          background-color: #c0bcbc;
          top: -5%;
          left: 1px;
        }
      }
      .scrollThumb {
        width: 3px;
        //height: 16px !important;
        background-color: #949191;
        border-radius: 1px;
        overflow: hidden;
      }
    }

    &.inline {
      position: relative;
      display: inline-block;
      width: auto;
      vertical-align: middle;
      &.opened {
        .control {
          .arrow {
            &:after {
              transform: rotate(-135deg);
              top: 30%;
            }
          }
        }
      }
      .control {
        width: 100%;
        position: relative;
        color: #ff7113;
        height: auto;
        vertical-align: middle;
        white-space: nowrap;
        border: none;
        .value, .placeHolder {
          padding: 0;
          width: auto;
          margin: 0;
          display: inline-block;
        }
        .arrow {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          margin-left: 0.2em;
          width: 1.4rem;
          height: 1.4rem;
          border: none;
          background: url('../Select/assets/select-icon.png') 100% 50% no-repeat;

        }
      }
    }
    &.select {
      height: 3.2em;
      position: relative;
      z-index: 21;
      &.opened {
        .control {
          .arrow {
            &:after {
              transform: rotate(-135deg);
              top: 37%;
            }
          }
        }
      }
      &.withIcon {
        .control {
          .icon {
            display: inline-block;
          }
          .value,.placeHolder {
            margin-left: -1.4rem;
            padding-left: 1.4rem;
          }
        }
      }
      .control {
        .icon {
          display: none;
          vertical-align: middle;
          position: relative;
          width: 1.4rem;
          height: 1.4rem;
          border: none;
          background-image: url('../Select/assets/select-arrow.png');
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        width: 100%;
        position: relative;
        border: 1px solid;
        border-radius: 0;
        height: auto;
        margin-bottom: 0.70rem;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0;
        background: white;
        .value {
          display: inline-block;
          width: 100%;
          padding-left: 0.4em;
          white-space: nowrap;
          overflow: hidden;
          line-height: 1.5em;
          vertical-align: middle;
          height: auto;
          padding-bottom: 2px;
          text-overflow: ellipsis;
          margin-right: -1.4rem;
          padding-right: 1.4rem;
        }
        .placeHolder {
          display: inline-block;
          width: 100%;
          padding-left: 0.4em;
          white-space: nowrap;
          overflow: hidden;
          line-height: 1.5em;
          vertical-align: middle;
          height: auto;
          padding-bottom: 2px;
          text-overflow: ellipsis;
          color: #898989;
          margin-right: -1.4rem;
          padding-right: 1.4rem;
          span {
            color: #ff2626;
          }
        }
        .arrow {

          position: absolute;
          right: 0;
          top: 0;
          width: 1.2em;
          height: 1.4em;
          border: none;
          background-image: url('../Select/assets/select-arrow.png');
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
    &.link {
      display: block;
      width: auto;
      height: 2em;;
      position: relative;
      z-index: 20;
      .control {
        .value {

        }
        .placeholder {

        }
        .arrow {
          //display: none;
        }
      }
      .outerMenu {
        position: absolute;
        left: 50%;
        margin-left: -222px;
      }
      .error {
        position: absolute;
        left: 0%;
        width: 200px;
        overflow: visible;
        .wrapper {
          background-color: white;
          border: 1px solid #9d223c;
          color: #9d223c;
          padding: 0 10px 0 10px;
          line-height: 2.2;
          width: auto;
          overflow: hidden;
          white-space: nowrap;
          position: relative;
          display: inline-block;
        }
        &:after {
          content: '';
          position: absolute;
          top: -3px;
          left: 4px;
          display: block;
          height: 6px;
          width: 6px;
          border-top: solid 1px transparent;
          border-right: solid 1px #9d223c;
          border-left: none;
          border-bottom: solid 1px #9d223c;
          background-color: white;
          transform: rotate(-135deg);
        }
      }
    }
    &.withIcon {
      .select .control .icon {
        display: inline-block;
      }
    }

    .scrollTrack {
      position: absolute;
      width: 3px !important;
      transition: opacity 200ms;
      right: 0px;
      top: 7%;
      height: 89%;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        width: 1px;
        height: 110%;
        background-color: #c0bcbc;
        top: -5%;
        left: 1px;
      }
    }
    .scrollThumb {
      width: 3px;
      //height: 16px !important;
      background-color: #949191;
      border-radius: 1px;
      overflow: hidden;
    }
  }
  .selectComponentCustom {
    width: 90%;
    border-radius: 2.6rem;
    border: 1px solid #e7832a;
    color: #e7832a;
    text-align: center;
    margin: 1.5em auto 0;
    line-height: 2.4;
  }
}
