@font-face {
    font-family: 'Open Sans';
    src: url('opensans-300-normal.woff2') format('woff2'), url('opensans-300-normal.woff') format('woff'), url('opensans-300-normal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}