.lampSelectionComp {
  overflow: hidden;

  .body {
    padding: 0 5% 0 7%;
    overflow: hidden;

    .lightPoligon {
      width: 100%;
      position: relative;
      padding-top: 90%;
      background-size: contain;

      .lamp {
        display: block;
        position: absolute;
        width: 48%;
        height: 7%;
        cursor: not-allowed;

        &[data-label='rearmarker'] {
          left: 0;
          top: 6%;

          &:after {
            background-image: url('./assets/licon--rearmarkers.png');
          }
        }

        &[data-label='stop'] {
          left: 0;
          top: 14%;

          &:after {
            background-image: url('./assets/licon--stop.png');
          }
        }

        &[data-label='rear'] {
          left: 0;
          top: 22%;

          &:after {
            background-image: url('./assets/licon--lamp.png');
          }
        }

        &[data-label='innerrear'] {
          left: 0;
          top: 35%;

          &:after {
            background-image: url('./assets/licon--light.png');
          }
        }

        &[data-label='stoprepeater'] {
          left: 0;
          top: 43%;

          &:after {
            background-image: url('./assets/licon--stop.png');
          }
        }

        &[data-label='numberlights'] {
          left: 0;
          top: 51%;

          &:after {
            background-image: url('./assets/licon--numberlights.png');
          }
        }

        &[data-label='turnrear'] {
          left: 0;
          top: 64%;

          &:after {
            background-image: url('./assets/licon--turn.png');
          }
        }

        &[data-label='rearantifog'] {
          left: 0;
          top: 72%;

          &:after {
            background-image: url('./assets/licon--fog.png');
          }
        }

        &[data-label='headclose'] {
          top: 6%;

          &:after {
            background-image: url('./assets/licon--rearmarkers.png');
          }
        }

        &[data-label='headfar'] {
          top: 14%;

          &:after {
            background-image: url('./assets/licon--lamp.png');
          }
        }

        &[data-label='marker'] {
          top: 22%;

          &:after {
            background-image: url('./assets/licon--lightf.png');
          }
        }

        &[data-label='innermiddle'] {
          top: 35%;

          &:after {
            background-image: url('./assets/licon--light.png');
          }
        }

        &[data-label='innerfront'] {
          top: 43%;

          &:after {
            background-image: url('./assets/licon--light.png');
          }
        }

        &[data-label='turnside'] {
          top: 51%;

          &:after {
            background-image: url('./assets/licon--turn.png');
          }
        }

        &[data-label='turnfront'] {
          top: 64%;

          &:after {
            background-image: url('./assets/licon--turn.png');
          }
        }

        &[data-label='antifog'] {
          top: 72%;

          &:after {
            background-image: url('./assets/licon--fog.png');
          }
        }

        &[data-label='repeaters'] {
          top: 80%;

          &:after {
            background-image: url('./assets/licon--turn.png');
          }
        }

        &.left {
          left: 0;

          .text {
            left: 0;
          }

          &:after {
            right: 0;
          }
        }

        &.right {
          right: 0;

          .text {
            right: 0;
          }

          &:after {
            left: 0;
          }
        }

        &.active {
          cursor: pointer;

          .text {
            border: 1px solid #fdbe06;
          }

          &:after {
            border: 1px solid #fdbe06;
            background-color: #ffd660;
          }
        }

        .text {
          position: absolute;
          width: 84%;
          height: 100%;
          border: 1px solid #d9d8d8;
          border-radius: 2px;
          padding-left: 0.4em;
          font-size: 0.8em;
          line-height: 1.6;
          text-decoration: none;
          color: #747474;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:after {
          content: '';
          position: absolute;
          width: 16%;
          height: 100%;
          border: 1px solid #989898;
          border-radius: 2px;
          background-color: #d9d8d8;
          background-size: cover;

        }
      }

      .searchedParams {
        position: absolute;
        left: 30%;
        top: 89%;
        width: 40%;
        text-align: center;
      }
    }
  }

  .autofilter {
    background-image: url('./assets/bgr__filter.png');
    padding-top: 35%;
    position: relative;

    .wrapper {
      position: absolute;
      top: 5%;
      left: 7%;
      width: 90%;

      .title {
        font-size: 1.4em;
        margin-bottom: 1%;
      }

      .filter {
        display: inline-block;
        margin-right: 2%;
        width: 48%;

        > .customSelect {
          width: auto;

          .control {
            background-color: white;
          }
        }
      }

    }
  }

  .additionFilter {
    padding: 2% 12% 2% 7%;
    background-color: #f1f1f1;
    white-space: nowrap;

    .filter {
      width: 100%;
      margin-right: 0%;
      display: inline-block;

      .label {
        font-size: 1.4em;
        margin-bottom: 1%;
      }

      .input {
        white-space: nowrap;

        .input {
          display: inline-block;
          width: 79%;
          margin-right: 1%;

          .customSelect {
            width: auto;

            .control {
              background-color: white;
            }
          }

          input {
            width: 100%;
            position: relative;
            border: 1px solid #d9d8d8;
            height: 2.4em;
            line-height: 2.4;
            border-radius: 0;
            vertical-align: middle;
            white-space: nowrap;
            padding: 0;
          }
        }

        .submit {
          display: inline-block;
          width: 20%;
          background-color: #fdbe06;
          line-height: 1.7;
          text-align: center;
          border-radius: 2px;
          font-size: 1em;
          vertical-align: top;
        }
      }
    }
  }

  .staff {
    padding: 2% 5% 2% 7%;
    overflow: hidden;

    &:before {
      float: left;
      content: '';
      display: block;
      padding-top: 12%;
    }
  }
}

@media(min-width: 768px) {
  .lampSelectionComp {
    overflow: hidden;

    .body {
      padding: 0 12% 0 7%;
      overflow: hidden;

      .lightPoligon {
        width: 100%;
        position: relative;
        padding-top: 40%;
        background-image: url('./assets/lamp-select.png');
        background-size: contain;

        .lamp {
          display: block;
          position: absolute;
          width: 21.3%;
          height: 7%;
          cursor: not-allowed;

          &#rearmarker {
            left: 0;
            top: 6%;

            &:after {
              background-image: url('./assets/licon--rearmarkers.png');
            }
          }

          &#stop {
            left: 0;
            top: 14%;

            &:after {
              background-image: url('./assets/licon--stop.png');
            }
          }

          &#rear {
            left: 0;
            top: 22%;

            &:after {
              background-image: url('./assets/licon--lamp.png');
            }
          }

          &#innerrear {
            left: 0;
            top: 35%;

            &:after {
              background-image: url('./assets/licon--light.png');
            }
          }

          &#stoprepeater {
            left: 0;
            top: 43%;

            &:after {
              background-image: url('./assets/licon--stop.png');
            }
          }

          &#numberlights {
            left: 0;
            top: 51%;

            &:after {
              background-image: url('./assets/licon--numberlights.png');
            }
          }

          &#turnrear {
            left: 0;
            top: 64%;

            &:after {
              background-image: url('./assets/licon--turn.png');
            }
          }

          &#rearantifog {
            left: 0;
            top: 72%;

            &:after {
              background-image: url('./assets/licon--fog.png');
            }
          }

          &#headclose {
            top: 6%;

            &:after {
              background-image: url('./assets/licon--rearmarkers.png');
            }
          }

          &#headfar {
            top: 14%;

            &:after {
              background-image: url('./assets/licon--lamp.png');
            }
          }

          &#marker {
            top: 22%;

            &:after {
              background-image: url('./assets/licon--lightf.png');
            }
          }

          &#innermiddle {
            top: 35%;

            &:after {
              background-image: url('./assets/licon--light.png');
            }
          }

          &#innerfront {
            top: 43%;

            &:after {
              background-image: url('./assets/licon--light.png');
            }
          }

          &#turnside {
            top: 51%;

            &:after {
              background-image: url('./assets/licon--turn.png');
            }
          }

          &#turnfront {
            top: 64%;

            &:after {
              background-image: url('./assets/licon--turn.png');
            }
          }

          &#antifog {
            top: 72%;

            &:after {
              background-image: url('./assets/licon--fog.png');
            }
          }

          &#repeaters {
            top: 80%;

            &:after {
              background-image: url('./assets/licon--turn.png');
            }
          }

          &.left {
            left: 0;

            .text {
              left: 0;
            }

            &:after {
              right: 0;
            }
          }

          &.right {
            right: 0;

            .text {
              right: 0;
            }

            &:after {
              left: 0;
            }
          }

          &.active {
            cursor: pointer;

            .text {
              border: 1px solid #fdbe06;
            }

            &:after {
              border: 1px solid #fdbe06;
              background-color: #ffd660;
            }
          }

          .text {
            position: absolute;
            width: 84%;
            height: 100%;
            border: 1px solid #d9d8d8;
            border-radius: 2px;
            padding-left: 1em;
            font-size: 0.8em;
            line-height: 2;
            text-decoration: none;
            color: #747474;
            white-space: nowrap;
          }

          &:after {
            content: '';
            position: absolute;
            width: 16%;
            height: 100%;
            border: 1px solid #989898;
            border-radius: 2px;
            background-color: #d9d8d8;
            background-size: cover;

          }
        }

        .searchedParams {
          position: absolute;
          left: 30%;
          top: 81%;
          width: 40%;
          text-align: center;
        }
      }
    }

    .autofilter {
      background-image: url('./assets/bgr__filter.png');
      padding-top: 12%;
      position: relative;

      .wrapper {
        position: absolute;
        top: 29%;
        left: 7%;
        width: 90%;

        .title {
          font-size: 1.4em;
          margin-bottom: 1%;
        }

        .filter {
          display: inline-block;
          margin-right: 2%;
          width: 21%;

          > .customSelect {
            width: auto;

            .control {
              background-color: white;
            }
          }
        }

      }
    }

    .additionFilter {
      padding: 2% 12% 2% 7%;
      background-color: #f1f1f1;
      white-space: nowrap;

      .filter {
        width: 45%;
        margin-right: 5%;
        display: inline-block;

        .label {
          font-size: 1.4em;
          margin-bottom: 1%;
        }

        .input {
          white-space: nowrap;

          .input {
            display: inline-block;
            width: 79%;
            margin-right: 1%;

            :global(.customSelect) {
              width: auto;

              :global(.control) {
                background-color: white;
              }
            }

            input {
              width: 100%;
              position: relative;
              border: 1px solid #d9d8d8;
              height: 2.4em;
              line-height: 2.4;
              border-radius: 0;
              vertical-align: middle;
              white-space: nowrap;
              padding: 0;
            }
          }

          .submit {
            display: inline-block;
            width: 20%;
            background-color: #fdbe06;
            line-height: 1.7;
            text-align: center;
            border-radius: 2px;
            font-size: 1em;
            vertical-align: top;
          }
        }
      }
    }

    .staff {
      padding: 2% 12% 2% 7%;
      overflow: hidden;

      &:before {
        float: left;
        content: '';
        display: block;
        padding-top: 12%;
      }
    }
  }
}
