@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }
  100% {transform: scale(0.9);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(1);opacity: .1;}
  30% {transform: rotate(0deg) scale(1.3);opacity: .5;}
  100% {transform: rotate(0deg) scale(1.5);
    opacity: .1;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(1.3) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(1.3) skew(1deg);opacity: .2;}}
.buyButton {
  position: fixed;
  z-index: 15;
  bottom: 1%;
  right: 4%;
  height: auto;
  width: auto;
  font-size: 16px;
  overflow: visible;
  .mainWrapper {
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    .main {
      width: 100%;
      display: flex;
      background: #e18c44;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 14%/50%;
      font-size: 1.2em;
      cursor: pointer;
      &:before {
        content: '';
        position: relative;
        display: block;
        padding-top: 26%;
      }
    }
    .circleOuter {
      border: 2px solid #ff9400;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      border-radius: 14%/50%;
      opacity: .5;
      animation: circle-anim 2.4s infinite ease-in-out !important;
      transition: all 0.5s;
    }
    .circleFill {
      background-color: #ff9400;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      border-radius: 14%/50%;
      border: 2px solid transparent;
      animation: circle-fill-anim 2.3s infinite ease-in-out;
      transition: all 0.5s;
    }
  }
  .linksWrapper {
    width: 195px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -96px;
    z-index: 5;
    transition: width 200ms ease-in, margin-left 200ms ease-in, opacity 200ms step-end;
    opacity: 0;
    pointer-events: none;

    &.open {
      width: 345px;
      margin-left: -266px;
      opacity: 1;
      transition: width 200ms ease-in 100ms, margin-left 200ms ease-in 100ms, opacity 200ms step-start;
      &+.mainWrapper {
        opacity: 0.1;
      }
      pointer-events: auto;
    }
    .links {
      width: 100%;
      display: flex;
      background: rgba(225, 140, 68, 0.23);
      justify-content: space-between;
      align-items: center;
      border-radius: 14%/50%;
      font-size: 1.2em;
      cursor: pointer;

      &:before {
        content: '';
        position: relative;
        display: block;
        padding-top: 26%;
      }
      &:after {
        content: '';
        position: relative;
        display: block;
        padding-top: 26%;
      }
      a {
        width: 13.5%;
        padding-top: 13.5%;
        border-radius: 50%;
        display: block;
        background: no-repeat center;
        background-size: cover;
        &:hover {
          transform: translateY(-4px);
        }

        &.wildberries {
          background-image: url('./assets/wildberries.png');
        }
        &.ozon {
          background-image: url('./assets/ozon.png');
        }
        &.whatsapp {
          background-image: url('./assets/whatsapp.png');
        }
        &.farpost {
          background-image: url('./assets/farpost.png');
        }
      }
    }
  }
}
@media(min-width: 768px) {
  .buyButton {
    bottom: 120px;
    right: 60px;
    .mainWrapper {
      width: 195px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
      .main {
        width: 100%;
        display: flex;
        background: #e18c44;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 14%/50%;
        font-size: 1.2em;
        cursor: pointer;
        &:before {
          content: '';
          position: relative;
          display: block;
          padding-top: 26%;
        }
      }
      .circleOuter {
        border: 2px solid #ff9400;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 14%/50%;
        opacity: .5;
        animation: circle-anim 2.4s infinite ease-in-out !important;
        transition: all 0.5s;
      }
      .circleFill {
        background-color: #ff9400;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 14%/50%;
        border: 2px solid transparent;
        animation: circle-fill-anim 2.3s infinite ease-in-out;
        transition: all 0.5s;
      }
    }
    .linksWrapper {
      width: 195px;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -96px;
      z-index: 5;
      transition: all 200ms ease-in, margin-left 200ms ease-in, opacity 200ms step-end;
      opacity: 0;
      pointer-events: auto;

      &:hover {
        bottom: -10px;
        width: 445px;
        margin-left: -347px;
        opacity: 1;
        transition: all 200ms ease-in 100ms, margin-left 200ms ease-in 100ms, opacity 200ms step-start;
        &+.mainWrapper {
          opacity: 0.1;
        }
      }
      .links {
        width: 100%;
        display: flex;
        background: rgba(225, 140, 68, 0.23);
        justify-content: space-between;
        align-items: center;
        border-radius: 14%/50%;
        font-size: 1.2em;
        cursor: pointer;
        &:before {
          content: '';
          position: relative;
          display: block;
          padding-top: 26%;
        }
        &:after {
          content: '';
          position: relative;
          display: block;
          padding-top: 26%;
        }
        a {
          width: 13.5%;
          padding-top: 13.5%;
          border-radius: 50%;
          display: block;
          background: no-repeat center;
          background-size: cover;
          &:hover {
            transform: translateY(-4px);
            box-shadow: 1px 1px 6px 0 rgba(225, 140, 68, 0.63);
          }

          &.wildberries {
            background-image: url('./assets/wildberries.png');
          }
          &.ozon {
            background-image: url('./assets/ozon.png');
          }
          &.whatsapp {
            background-image: url('./assets/whatsapp.png');
          }
          &.farpost {
            background-image: url('./assets/farpost.png');
          }
        }
      }
    }
  }
}